<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ou Je Trie est une application Web permettant de localiser les bornes d'apport volontaires.
    Le citoyen, au coeur du système, dispose d'un moyen pour informer les services compétents (dépôt sauvage, bornes pleines) grâce à l'application.">
    <meta name="keywords" content="trie, recyclage, conteneur, oujetrie, ou je trie, pav, point d'apport volontaire, emballage, papier, verre">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>OuJeTrie</title> <!--<%= htmlWebpackPlugin.options.title %>-->
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="A2HS Test">
    <script src="index.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"> 
    <script> 
        function giveTrip(latpos,longpos)
        {
            if( (navigator.platform.indexOf("iPhone") != -1) 
                || (navigator.platform.indexOf("iPod") != -1)
                || (navigator.platform.indexOf("iPad") != -1))
                window.open("maps://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination="+latpos+","+longpos);
            else
                window.open("https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination="+latpos+","+longpos);
        }	
		
    </script>
  </head> 

  <body>  
    
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
      
</html>
