input,
select {
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "ContributeMenu ContributeMenu"
    "ContributeMenu ContributeMenu"
    "ContributeMenu ContributeMenu";
}

.ContributeMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1% 1%;
  grid-template-areas:
    "IncivilitePAV IncivilitePAV"
    "LevelPAV LevelPAV"
    "ModifyPAV ModifyPAV"
    "AddPAV AddPAV";
  grid-area: ContributeMenu;
}

.LevelPAV {
  grid-area: LevelPAV;
  margin-right: 2%;
  text-align: left;
}

.ModifyPAV {
  grid-area: ModifyPAV;
  margin-right: 2%;
  text-align: left;
}

.AddPAV {
  grid-area: AddPAV;
  margin-right: 2%;
  text-align: left;
}

.IncivilitePAV {
  grid-area: IncivilitePAV;
  margin-right: 2%;
  text-align: left;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  box-sizing: border-box;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 2px;
  background-color: #c0ceda;
  transition: all 0.5s;
}
input[type="checkbox"] + label::before {
  box-sizing: border-box;
  display: block;
  content: "";
  height: calc(1.5rem - 4px);
  width: calc(1.5rem - 4px);
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s;
}
input[type="checkbox"]:checked + label {
  background-color: #00b7e8;
}
input[type="checkbox"]:checked + label::before {
  margin-left: 1.5rem;
}

.web-camera-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
}

.buttonSendInci {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonSendInci:hover {
  background-color: #3e8e41;
}

.buttonSendInci:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonPhoto {
  box-shadow: 3px 4px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 18px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.buttonPhoto:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.buttonPhoto:active {
  position: relative;
  top: 1px;
}

.slider-wrapper {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
}
.slider-wrapper input {
  width: auto;
  height: auto;
  margin: 0;
  transform-origin: 75px 75px;
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 10px;
  height: 70px;
  padding: 20 20 20 20px;
}

.custom-card-contribute.v-card {
  position: relative;
  border-radius: 7px;
  padding: 20px;
  font-family: sans-serif;
  background: #e6e6fa;
}
