<template>
  <v-container>
    <div v-if="isCameraOpen" v-on:click="takePhoto()">
      <video
        v-on:click="takePhoto()"
        v-show="!isPhotoTaken"
        ref="camera"
        :width="640"
        :height="480"
        autoplay
        style="width: calc(100%)"
      ></video>
      <canvas
        v-on:click="takePhoto()"
        v-show="isPhotoTaken"
        id="photoTaken"
        ref="canvas"
        :width="640"
        :height="480"
        style="width: calc(100%)"
      ></canvas>
      <v-chip
        class="ma-1"
        medium
        color="green"
        text-color="white"
        @click="takePhoto()"
      >
        <v-avatar left>
          <v-icon right> mdi-open-in-new </v-icon>
        </v-avatar>
        Prendre la photo
      </v-chip>
    </div>

    <DebugBox />
    <InfoBox />

    <v-dialog v-model="dialogLoading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Données en cours de chargement
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Pour indiquer que la camera n'est pas valide -->
    <v-alert
      v-model="alertCamera"
      border="left"
      close-text="Close Alert"
      color="red accent-4"
      dark
      dismissible
    >
      {{ messageCamera }}
    </v-alert>

    <!-- Pour afficher la liste des PAV les plus proches -->
    <v-banner v-show="!isCameraOpen" single-line>
      <v-btn
        id="add-button"
        class="ma-2"
        color="#30ac7c"
        @click="refreshPosition()"
        dark
      >
        Me géolocaliser
        <v-icon dark> mdi-crosshairs-gps </v-icon>
      </v-btn>
      <v-select
        v-model="setNearPav"
        :items="nearPavItem"
        item-text="name"
        item-value="id"
        label="Point de Tri Séléctionné"
        v-on:change="updatePavSelected"
      ></v-select>
    </v-banner>

    <!-- Gestion de l'affichage des retours de la modification/suppresion d'un PAV-->
    <v-alert
      v-model="alert"
      outlined
      type="success"
      text
      dismissible
      v-if="typeMessage != '' && typeMessage == 'success'"
    >
      {{ message }}</v-alert
    >

    <v-alert
      v-model="alert"
      outlined
      type="error"
      text
      dismissible
      v-if="typeMessage != '' && typeMessage == 'error'"
    >
      {{ message }}</v-alert
    >

    <!-- Affichage d'une incivilité -->
    <v-alert
      v-model="alertIncivilite"
      dense
      border="left"
      type="warning"
      dismissible
    >
      {{ txtInfoIncivilite }}
      <v-btn @click="setVotingIncivilite('up')">
        <v-icon dark> mdi-thumb-up </v-icon>
      </v-btn>
      {{ nbInciGood }}

      <v-btn @click="setVotingIncivilite('down')">
        <v-icon dark> mdi-thumb-down </v-icon>
      </v-btn>
      {{ nbInciBad }}
    </v-alert>
    <span>
      {{ textPavToDisplay }}
    </span>

    <div class="grid-container" v-show="!isCameraOpen">
      <div class="ContributeMenu">
        <incivilite
          v-bind:title="incivilityPAV"
          v-bind:cameraOk="!alertCamera"
          @triggerPhoto="toggleCamera"
          @componentResult="componentResult"
          class="IncivilitePAV"
        />

        <levelPav
          v-bind:title="levelPAV"
          @componentResult="componentResult"
          class="LevelPAV"
        />
        <modifyPav
          v-bind:title="modifyPAV"
          v-bind:cameraOk="!alertCamera"
          v-bind:listeDechetComCom="listeDechetComCom"
          v-bind:listeMenuInactif="listeMenuInactif"
          @triggerPhoto="toggleCamera"
          @componentResult="componentResult"
          class="ModifyPAV"
        />
        <addPav
          v-bind:title="addPAV"
          v-bind:cameraOk="!alertCamera"
          v-bind:listeDechetComCom="listeDechetComCom"
          v-bind:listeMenuInactif="listeMenuInactif"
          @triggerPhoto="toggleCamera"
          @componentResult="componentResult"
          class="AddPAV"
        />
      </div>
    </div>
  </v-container>
</template>

<script>
import Vue from "vue";
import fullscreen from "vue-fullscreen";
import { getNearPav, getConfAppCitoyen } from "@/composables/getApi.js";
import incivilite from "@/components/Incivilite.vue";
import levelPav from "@/components/LevelPav.vue";
import addPav from "@/components/AddPav.vue";
import modifyPav from "@/components/ModifyPav.vue";
import { bus } from "@/main";
import {
  libelleCompoLevelPav,
  libelleCompoAddPav,
  libelleCompoIncivilitePav,
  libelleCompoModifyPav,
} from "../models/const";
import { updateVotingIncivilities } from "@/composables/postApi.js";
import DebugBox from "@/components/DebugBox";
import InfoBox from "@/components/InfoBox";
import { defaultListeDechet, debug } from "../models/const";

Vue.use(fullscreen);

export default {
  name: "Contribute",
  components: {
    incivilite,
    levelPav,
    addPav,
    modifyPav,
    DebugBox,
    InfoBox,
  },
  data() {
    let conteneurs = [];

    return {
      isOpen: false,
      levelPAV: libelleCompoLevelPav,
      modifyPAV: libelleCompoModifyPav,
      addPAV: libelleCompoAddPav,
      incivilityPAV: libelleCompoIncivilitePav,
      addLevelOpen: false,
      modifyPAVOpen: false,
      addPAVOpen: false,
      incivilityPAVOpen: false,
      isCameraOpen: false,
      isPhotoTaken: false,
      fullscreen: false,
      imageBytes: null,
      conteneurs,
      idCommunaute: -1,
      idCreatePav: -1,
      idNearPav: -1,
      labelNearPav: "",
      nameActivElement: "",
      nearPav: [],
      nearPavItem: [],
      pavSelected: "Aucun PAV",
      typeMessage: "",
      message: "",
      alert: false,
      alertIncivilite: false,
      txtInfoIncivilite: "",
      nbInciGood: 0,
      nbInciBad: 0,
      idInci: -1,
      setNearPav: null,
      messageCamera: "",
      alertCamera: false,
      listeDechetComCom: defaultListeDechet,
      listeMenuInactif: [],
      textPavToDisplay: "",
      dialogLoading: false,
    };
  },
  methods: {
    //Permet de remplur la liste des PAV les plus proches
    //Les infos se retrouvent dans le select
    //Par défaut c'est le PAV le plus proche qui est séléectionné
    async refreshNearPav(currentPos) {
      this.nearPav = await getNearPav(-1, -1, -1, -1);

      await this.nearPav;
      this.nearPavItem = [];

      var maxPavToDisplay = this.nearPav.pav.length;

      //Permet de limiter le nombre de PAV à afficher dans la vue
      if (maxPavToDisplay > 10) maxPavToDisplay = 10;

      for (var i = 0; i < maxPavToDisplay; i++) {
        if (
          this.nearPav != null &&
          this.nearPav.pav[i] != null &&
          this.nearPav.pav[i].address != null
        ) {
          //console.log(this.nearPav.pav[i]);
          this.nearPavItem.push({
            id: i,
            name:
              this.nearPav.pav[i].address +
              " à " +
              this.nearPav.pav[i].commune +
              " distance d'environ " +
              this.nearPav.pav[i].distance +
              " Km",
          });
        }
      }

      if (currentPos != null) this.setNearPav = currentPos;
      else this.setNearPav = 0;

      this.updatePavSelected(this.setNearPav);
    },

    //Lorsqu'un PAV est séléctionné alors :
    // -envoi des infos aux composants enfants du PAV séléctionné
    // -regarde si une incivilité est presente et change la valeur de la variable pour l'afficher
    async updatePavSelected(idOfArrayNearPav) {
      this.alertIncivilite = false;

      let initJsonName = "Init";

      if (
        this.nearPav != null &&
        this.nearPav.pav != null &&
        this.nearPav.pav.length > 0 &&
        this.nearPav.pav[idOfArrayNearPav].getLastIncivilite() != null
      )
        this.setInfoIncivilite(
          this.nearPav.pav[idOfArrayNearPav].getLastIncivilite()
        );

      //Pour indiquer les PAV et les conteneurs
      bus.$emit("levelPav" + initJsonName, this.nearPav.pav[idOfArrayNearPav]);
      bus.$emit("modifyPAV" + initJsonName, this.nearPav.pav[idOfArrayNearPav]);
      bus.$emit(
        "incivilitePAV" + initJsonName,
        this.nearPav.pav[idOfArrayNearPav]
      );

      if (this.nearPav.pav.length > 0)
        this.pavSelected =
          this.nearPav.pav[idOfArrayNearPav].address +
          " " +
          this.nearPav.pav[idOfArrayNearPav].commune;

      this.textPavToDisplay =
        "Point d'apport " +
        this.nearPav.pav[this.setNearPav].address +
        " à " +
        this.nearPav.pav[this.setNearPav].commune +
        " distance de " +
        this.nearPav.pav[this.setNearPav].distance +
        " KM";

      this.dialogLoading = false;
    },

    //Lorsqu'un utilisateur a validé l'enregistrement d'une action dans un menu enfant (ajout pav, changement niveau)
    //alors on affiche le retour dans la popup qui va bien
    componentResult(data) {
      this.alert = true;
      this.typeMessage = data.split("::")[0];
      this.message = data.split("::")[1];

      this.refreshNearPav(this.setNearPav);
    },

    //Affiche ou non la camera
    toggleCamera(data) {
      this.alertIncivilite = false;
      this.nameActivElement = data;

      if (this.isCameraOpen) {
        this.isCameraOpen = false;
        this.isPhotoTaken = false;
        this.stopCameraStream();
      } else {
        this.isCameraOpen = true;
        this.isPhotoTaken = false;
        this.createCameraElement();
      }
    },

    //Paramètre de la caméra
    createCameraElement() {
      const constraints = (window.constraints = {
        audio: false,
        video: {
          facingMode: "environment",
        },
      });
      navigator.mediaDevices
        .getUserMedia(constraints)
        .then((stream) => {
          this.$refs.camera.srcObject = stream;
        })
        .catch((error) => {
          alert(
            "May the browser didn't support or there is some errors." + error
          );
        });
    },

    stopCameraStream() {
      let tracks = this.$refs.camera.srcObject.getTracks();

      tracks.forEach((track) => {
        track.stop();
      });
    },

    //Permet de prendre la photo et enregistre ça dans une variable
    takePhoto() {
      this.isPhotoTaken = !this.isPhotoTaken;
      try {
        const context = this.$refs.canvas.getContext("2d");
        context.drawImage(this.$refs.camera, 0, 0, 640, 480);
        this.downloadImage();
      } catch (e) {
        console.log(e);
      }
    },

    //Permet de reécupérer le contenu de la photo en base64
    //transmet cette info à tous les enfants components
    downloadImage() {
      //console.log(document.getElementById("photoTaken"))
      this.imageBytes = document
        .getElementById("photoTaken")
        .toDataURL("image/jpeg");
      //console.log(this.nameActivElement);
      this.toggleCamera(this.nameActivElement);
      bus.$emit(this.nameActivElement, this.imageBytes);
    },

    //Permet de se localiser
    async refreshPosition() {
      await this.getPosition();
    },

    //Prépare la popup pour l'affichage des infos d'incivilités
    setInfoIncivilite(aInci) {
      //console.log(JSON.parse(localStorage.getItem('user')))
      //console.log(aInci.user )
      if (
        localStorage.getItem("user") != null &&
        aInci.user.username !=
          JSON.parse(localStorage.getItem("user")).user.username
      ) {
        if (aInci.poubelleSauvage == true) {
          this.txtInfoIncivilite = "Poubelle Sauvage ";
          this.alertIncivilite = true;
        }

        if (aInci.pavAbime == true) {
          if (this.alertIncivilite == true)
            this.txtInfoIncivilite = " et Conteneur abimé ";
          else this.txtInfoIncivilite = " Conteneur abimé ";

          this.alertIncivilite = true;
        }

        if (this.alertIncivilite && window.navigator.vibrate)
          window.navigator.vibrate(1000);

        this.nbInciGood = aInci.votingGood;
        this.nbInciBad = aInci.votingBad;

        this.idInci = aInci.id;
      }
    },

    //Permet de faire vers le serveur pour prendre en compte le vote
    async setVotingIncivilite(value) {
      var bodyFormData = new FormData();
      bodyFormData.append("id_inci", this.idInci);
      bodyFormData.append("type", value);

      await updateVotingIncivilities(bodyFormData);

      this.alertIncivilite = false;
    },

    ready: (e) => console.log("ready", e),

    async getPosition() {
      this.dialogLoading = true;
      try {
        const coordinates = await this.$getLocation({
          enableHighAccuracy: true,
        });

        this.$store.commit("setLatitude", coordinates.lat);
        this.$store.commit("setLongitude", coordinates.lng);
      } catch (error) {
        this.noLocation = true;
      } finally {
        this.refreshNearPav();
      }
    },
  },

  beforeMount() {},

  async mounted() {
    await this.getPosition();

    //on recupère la liste des conteneurs possibles
    //pour récupérer la conf de l'écran contribution
    this.listeMenuInactif = [];
    if (this.$store.state.comCom != null) {
      this.listeDechetComCom = this.$store.state.comCom.listeDechet.slice();
      let responseCong = await getConfAppCitoyen(this.$store.state.comCom.id);

      this.listeMenuInactif = responseCong.data;
    }

    for (var i in this.listeDechetComCom) {
      if (debug) console.log(i);
      this.listeDechetComCom[i]["valueModele"] = false;
      this.listeDechetComCom[i]["appartenance_ext"] = 0;
      this.listeDechetComCom[i]["visible"] = true;
    }

    //taille de la liste des déchets
    // eslint-disable-next-line no-unused-vars
    var tailleDechetListeComCom = 0;
    if (this.listeDechetComCom != null)
      tailleDechetListeComCom = this.listeDechetComCom.length;

    if (debug) console.log(tailleDechetListeComCom);

    //on parcours la liste des entreprises
    let entreprises = this.$store.state.entrepriseObj;
    //console.log(entreprises);
    for (var e in entreprises) {
      //console.log(entreprises[e]["d1Type"]);
      let typeCont = entreprises[e]["d1Type"];
      let contenuCont = entreprises[e]["d1Contenu"];
      this.listeDechetComCom.push({
        valueModele: false,
        contenu: contenuCont,
        type: typeCont,
        name: entreprises[e]["d1Contenu"] + " (" + entreprises[e]["name"] + ")",
        apparence: "",
        type_emplacement: "aérien",
        appartenance_ext: entreprises[e]["id"],
        visible: true,
      });
    }

    await this.updatePavSelected(this.setNearPav);

    //console.log(this.listeDechetComCom);

    var self = this;

    await navigator.mediaDevices
      .enumerateDevices()
      .then(function (devices) {
        var DEVICES = [];
        var final = null;

        console.log(devices.length);

        var arrayLength = devices.length;
        for (var i = 0; i < arrayLength; i++) {
          var tempDevice = devices[i];

          //console.log(tempDevice)

          if (tempDevice.kind == "videoinput") {
            DEVICES.push(tempDevice);
            if (
              tempDevice.facingMode == "environment" ||
              tempDevice.label.indexOf("facing back") >= 0
            ) {
              //console.log(tempDevice.deviceId)
              self.deviceId = tempDevice.deviceId;
              self.cameraMount = true;
              //console.log(self.deviceId);
              //console.log(tempDevice.label)
            }
          }
        }

        //au cas où nous n'arrivons pas a trouver une camera, on prend la dernière
        var totalCameras = DEVICES.length;
        console.log(DEVICES.length);
        if (final == null) {
          final = DEVICES[totalCameras - 1];
          self.deviceId = DEVICES[totalCameras - 1].deviceId;

          if (DEVICES[totalCameras - 1].label == "") {
            self.messageCamera =
              "Cliquer sur le cadenas vers l'adresse https://oujetrie.fr, puis valider la camera";
            self.alertCamera = true;
          }
          self.cameraMount = true; 
        }
      })
      .catch((e) => console.error(e));
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
@import "../assets/css/contribute.css";
</style>
