<template :style="{ background: '#E6E6FA' }" fluid>
  <v-container fluid>
    <h2 style="color: #30ac7c">
      La foire aux informations du tri dans votre localité et de l'application
    </h2>
    <v-divider></v-divider>
    <v-expansion-panels focusable>
      <v-expansion-panel>
        <v-expansion-panel-header color="#30ac7c"
          >Comment trier dans ma commune à
          {{ myCommune }}?</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <p v-html="data"></p>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header color="#E0E0E0"
          >Horaire de passage des Ordures Ménagère de votre commune
          ?</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <p v-html="dataOM"></p>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header color="#30ac7c"
          >Que signifie les différents pictogrammes sur la carte
          ?</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <ul class="listeLegende">
            <li>
              <img src="@/assets/conteneur.png" /> Point d'apport avec un niveau
              de remplissage sans alerte
            </li>
            <li>
              <img src="@/assets/conteneur_pasvalide.png" /> Point d'apport qui
              a été ajouté par un utilisateur et qui doit être validé par la
              commume
            </li>
            <li>
              <img src="@/assets/conteneur_milieu.png" /> Point d'apport où un
              utilisateur a indiqué une information de remplissage il y a moins
              de 7 jours
            </li>
            <li>
              <img src="@/assets/conteneur_plein.png" />Point d'apport où un
              utilisateur a indiqué une information de remplissage il y a moins
              d'un jour
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header color="#E0E0E0"
          >Les prochaines Nouveautés</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <ul class="listeLegende">
            <li>Ajout des composteur en point d'apport volontaire</li>
          </ul>
          Si vous avez installé l'application sur smartphone, vous devez
          rafraichir la page pour profiter des mises à jours ou cliquer sur le
          bouton suivant
          <v-btn id="btn-install" color="#30ac7c" @click="reloadPage()" dark>
            <v-icon dark> mdi-refresh </v-icon>
          </v-btn>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header color="#30ac7c"
          >Nos partenaires
        </v-expansion-panel-header>
        <v-expansion-panel-content> </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header color="#E0E0E0"
          >Nous contacter</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          Pour toute demande comme la rencontre d'un problème ou la suggestion
          d'une amélioraton. Nous écrire à l'adresse suivante :
          oujetrie@gmail.com
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <span style="background-color: #e6e6fa"><br /></span>
  </v-container>
</template>

<script>

import store from "../store";

export default {


  name: "Info",
  data() {
    return {
      myCommune: store.state.myCommune,
      data: "<b>Pas d'information sur votre commune<b>",
      dataOM: "<b>Informations sur le/les passages.</b>",
    };
  },

  methods: {
    reloadPage() {
      window.location.reload();
    },
  },

  mounted() {
    if (store.state.comCom != null && store.state.comCom.desc != "")
      this.data = store.state.comCom.desc;
    if (
      store.state.myCommuneObj != null &&
      store.state.myCommuneObj.dateLeveePoubelle != ""
    )
      this.dataOM = "<b>" + store.state.myCommuneObj.dateLeveePoubelle + "</b>";
  },
};
</script>
<style>
h1 {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 4px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
p {
  text-align: left;
}

div.commenttrier + div.commenttrouverpav {
  margin-bottom: 20px;
}

.listeLegende {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
  text-align: left;
}
</style>
