<template>
  <div class="col-md-12">
    <v-alert
      outlined
      type="success"
      text
      dismissible
      v-if="message && typeMessage == 'success'"
    >
      {{ message }}
    </v-alert>

    <v-alert
      outlined
      type="error"
      text
      dismissible
      v-if="message && typeMessage == 'error'"
    >
      {{ message }}
    </v-alert>

    <div class="card card-container" v-show="passwordLost">
      <h2 style="color: #30ac7c">Demande de récupération du mot de passe</h2>
      <ValidationObserver v-slot="{ handleSubmit, reset }">
        <form
          @submit.prevent="handleSubmit(forgotPassword)"
          @reset.prevent="reset"
        >
          <ValidationProvider
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <v-text-field
              v-model="user.email"
              :error-messages="errors[0]"
              label="Email du compte "
              required
              prepend-icon="mdi-mail"
            />
          </ValidationProvider>

          <div>
            <v-btn
              class="back-btn"
              rounded
              color="white"
              dark
              @click="passwordLost = false"
            >
              Retour
            </v-btn>
            <v-btn class="pass-btn" rounded color="white" dark type="submit">
              Valider
            </v-btn>
          </div>
        </form>
      </ValidationObserver>
    </div>
    <div class="card card-container" v-show="!passwordLost">
      <img id="profile-img" src="@/assets/logo.png" class="profile-img-card" />
      <ValidationObserver v-slot="{ handleSubmit, reset }">
        <p>
          <center style="color: #30ac7c">J'ai déjà un compte</center>
        </p>
        <form @submit.prevent="handleSubmit(login)" @reset.prevent="reset">
          <ValidationProvider
            name="utilisateur"
            rules="required|min:3|max:20"
            v-slot="{ errors }"
          >
            <v-text-field
              v-model="user.username"
              :error-messages="errors[0]"
              label="Nom utilisateur"
              required
              prepend-icon="mdi-account"
            />
          </ValidationProvider>

          <ValidationProvider
            name="mot de passe"
            rules="required|min:4|max:40"
            v-slot="{ errors }"
          >
            <v-text-field
              v-model="user.password"
              :type="showPassword ? 'text' : 'password'"
              :error-messages="errors[0]"
              label="Mot de passe"
              required
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />
          </ValidationProvider>

          <div>
            <v-btn class="signin-btn" type="submit" rounded color="white" dark>
              Se connecter
            </v-btn>
            <v-spacer />
            <span
              style="color: #30ac7c; float: right"
              @click="passwordLost = true"
            >
              Mot de passe oublié?</span
            >
          </div>
        </form>
      </ValidationObserver>

      <div style="margin-top: 30%">
        <v-btn
          class="signin-btn"
          type="submit"
          rounded
          color="white"
          dark
          to="/register"
        >
          Créer une compte
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "login",
  data() {
    return {
      user: new User("", "", ""),
      loading: true,
      message: "",
      typeMessage: "",
      passwordLost: false,
      showPassword: false,
    };
  },
  methods: {
    async login() {
      //On va sur la page d'accueil si on arrive à se logguer
      this.$store.dispatch("auth/login", this.user).then(
        () => {
          this.$router.push("/");
        },
        (error) => {
          this.loading = error;
          this.typeMessage = "error";
          this.message = "Nom d'utilisateur ou mot de passe érroné";
        }
      );
    },

    async forgotPassword() {
      //console.log(this.user)
      this.message = "";
      //On va sur la page d'accueil si on arrive à se logguer
      this.$store.dispatch("auth/passwordReset", this.user).then(
        () => {
          this.message =
            "Vous recevrez un email contenant les indications pour obtenir un nouveau mot de passe";
          this.passwordLost = false;
          this.typeMessage = "success";
        },
        (error) => {
          //error.response.data
          this.loading = error;
          this.typeMessage = "error";
          this.message = "L'email n'est pas valide";
        }
      );
    },
  },
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
}

.back-btn {
  width: 50%;
  float: left;
  color: #30ac7c;
}

.pass-btn {
  width: 50%;
  float: right;
  color: #30ac7c;
}

.signin-btn {
  width: 100%;
  float: right;
  color: #30ac7c;
}
</style>