<template>
  <v-container fluid fill-height pa-0 ma-0>
    <v-layout>
      <div style="width: 100%">
        <l-map
          style="height: 100% z-index: 0;"
          ref="map"
          :center="initialLocation"
          l-map
          :zoom="13"
          @moveend="updatePav"
        >
          <v-dialog v-model="dialogLoading" hide-overlay persistent width="300">
            <v-card color="primary" dark>
              <v-card-text>
                Données en cours de chargement
                <v-progress-linear
                  indeterminate
                  color="white"
                  class="mb-0"
                ></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-dialog
            v-model="dialogDemanderParticipation"
            hide-overlay
            persistent
            width="400"
          >
            <v-card>
              <v-card-title>
                Commune absente
                <v-spacer></v-spacer>
                <v-btn
                  left
                  color="primary"
                  @click="dialogDemanderParticipation = false"
                >
                  X
                </v-btn>
              </v-card-title>
              <v-card-text>
                <p>
                  Votre commune n'a pas communiqué d'informations nous
                  permettant d'ajouter des bornes de tri sur OuJeTrie.
                </p>
                <p>
                  En nous sollicitant et en votant, vous nous permettez d'aller
                  à la rencontre de votre commune et de lui proposer une
                  adhésion à notre service (plus de votes = plus de poids)<br />
                </p>
                <p>
                  Le tri en France pourrait être plus performant, et le citoyen,
                  pilier central du tri, pourrait en être un acteur bien plus
                  important.<br />
                  Notre application est là pour vous permettre de trouver les
                  informations qui vous sont nécessaires (localisation des
                  bornes, consignes locales...) mais aussi de pouvoir vous
                  exprimer en faisant remonter des informations à vos
                  collectivités.
                </p>

                <p>
                  {{ nbDemandeAjoutCom }} habitants de votre collectivité ont
                  déjà voté. A vous!
                </p>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="primary"
                  text
                  @click="
                    createDemandeAjoutCom();
                    dialogDemanderParticipation = false;
                  "
                >
                  Voter pour votre commune
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog
            v-model="dialogChoiceLocation"
            hide-overlay
            persistent
            width="400"
          >
            <v-card>
              <v-card-title> Choisir votre commune : </v-card-title>
              <v-card-text>
                <v-autocomplete
                  v-model="selectedCommune"
                  :items="itemCommunes"
                  :loading="loadingCommunes"
                  :search-input.sync="searchCommunes"
                  clearable
                  no-data-text="Ecrivez le nom de votre commune"
                  hide-details
                  hide-selected
                  item-text="name"
                  label="Chercher une commune"
                  solo
                >
                </v-autocomplete>   
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  text
                  @click="
                    dialogChoiceLocation = false;
                    initMap(false);
                  "
                >
                  Se rendre à la commune
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Pour avoir les informations liées au PAV -->
          <v-dialog
            v-model="dialog"
            transition="fade-transition"
            class="mx-auto"
            width="100vh"
          >
            <v-card class="mx-auto" color="#E0E0E0" width="100vh">
              <v-card-actions>
                <v-spacer
                  ><h3 style="color: #ff0000">{{ pavInfoValide }}</h3></v-spacer
                >
                <v-btn left color="primary" @click="dialog = false">
                  Quitter
                </v-btn>
              </v-card-actions>
              <v-img
                align-center
                class="mx-auto"
                v-bind:src="pavImgSelectd"
                style="width: 100vh; height: 40vh"
              >
                <v-card-title></v-card-title>
              </v-img>

              <v-card-subtitle class="pb-0">
                {{ pavNameSelected }}
              </v-card-subtitle>

              <v-card-text class="text--primary">
                <v-list-item
                  three-line
                  v-for="aCont in conteneursSelected"
                  :key="aCont.id"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="aCont.title"></v-list-item-title>
                    <v-list-item-subtitle
                      v-text="aCont.level"
                    ></v-list-item-subtitle>
                    <v-list-item-subtitle
                      >Accessible aux PMR : {{ aCont.accesPMR ? "Oui" : "Non" }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card-text>
              <!-- Pour indiquer que l'utilisateur ne peut pas faire d'anomalie -->
              <v-alert
                v-model="userNotLogged"
                border="left"
                close-text="Close Alert"
                color="red accent-4"
                dark
                dismissible
              >
                Vous devez être authentifié pour ajouter une anomalie.
              </v-alert>
              <!-- Pour indiquer que l'anomalie a été prise en compte -->
              <v-alert
                v-model="successfulCreateAnomalie"
                border="left"
                close-text="Close Alert"
                color="green"
                dark
                dismissible
              >
                Anomalie Enregistrée
              </v-alert>
              <v-card-actions>
                <v-container>
                  <v-row dense>
                    <v-col>
                      <v-btn
                        color="primary"
                        text
                        right
                        @click="displayAnomalieMenu()"
                      >
                        Indiquer une anomalie
                      </v-btn>
                    </v-col>
                    <v-col>
                      <v-btn
                        color="primary"
                        text
                        right
                        @click="giveTrip(latitudePavSelect, longitudePavSelect)"
                      >
                        Se rendre au Point de Tri
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogAnomalie" max-width="500px">
            <v-card>
              <v-card-title> Indiquer une anomalie </v-card-title>
              <v-card-text>
                <v-select
                  v-model="selectedItemAnomalie"
                  :items="itemAnomalie"
                  label="Séléctionner dans la liste"
                  item-value="text"
                ></v-select>
                <v-textarea
                  v-model="commentAnomalie"
                  name="commentAnomalie"
                  label="Entrer votre commentaire (facultatif)"
                  value=""
                ></v-textarea>

                <span v-if="typeMessage != ''">
                  Impossible d'enregistrer l'anomalie
                </span>
              </v-card-text>
              <v-card-actions>
                <v-btn color="primary" dark @click="dialogAnomalie = false">
                  Quitter
                </v-btn>

                <v-btn color="primary" dark @click="setAnomalie">
                  Envoyer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogFilter" width="300">
            <v-card>
              <v-card-title class="headline grey lighten-2">
                <bold>Filtre sur les conteneurs à afficher</bold>
              </v-card-title>

              <v-card-text>
                <v-row
                  class="mx-auto"
                  no-gutters
                  v-for="(item, i) in listeDechetComCom"
                  :key="i"
                >
                  <v-checkbox
                    v-model="item.visible"
                    :label="item.name"
                  ></v-checkbox>
                </v-row>
                <v-row class="mx-auto" no-gutters>
                  <v-checkbox v-model="accesPMR" label="Accès PMR"></v-checkbox>
                </v-row>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  text
                  @click="
                    dialogFilter = false;
                    initMap(true);
                  "
                >
                  Valider
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <l-control-attribution
            position="topright"
            :prefix="attribution"
          ></l-control-attribution>
          <v-icondefault></v-icondefault>

          <div id="buttonFilter">
            <v-col cols="12">
              <v-row style="place-content: center; margin-bottom: 5px">
                <v-btn
                  class="mx-2"
                  fab
                  dark
                  color="#30ac7c"
                  @click="dialogFilter = true"
                >
                  <v-icon dark> mdi-filter </v-icon>
                </v-btn>
              </v-row>
              <v-row style="place-content: center">
                <span style="font-weight: bold"> FILTRER PAR TYPE </span>
              </v-row>
            </v-col>
          </div>

          <v-geosearch
            :options="geosearchOptions"
            @key="cityName"
            ref="geosearch"
          ></v-geosearch> 
          <v-tilelayer
            url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
            @load="endLoadedAlltiles"
            @tileloadstart="beginLoadTile"
          ></v-tilelayer>
          <v-marker-cluster
            v-if="firstLoad"
            :options="clusterOptions"
            @clusterclick="click()"
            @ready="ready"
            ref="clusterRef"
          >
            <v-marker
              v-for="l in locations"
              :key="l.id"
              :lat-lng="l.latlng"
              :icon="l.icon"
              @click="openInfoPav(l.pavInfo)"
            >
            </v-marker>
          </v-marker-cluster>
          <v-marker
            v-for="l in myPosition"
            :key="l.id"
            :lat-lng="l.latlng"
            :icon="iconMe"
          >
          </v-marker>

          <!-- Bouton permet de se recentrer par rapport à notre position -->
          <div id="refreshButton">
            <v-col cols="12">
              <v-row style="place-content: center; margin-bottom: 5px">
                <v-btn
                  class="mx-2"
                  fab
                  dark
                  color="#30ac7c"
                  @click="getLocation"
                >
                  <v-icon dark> mdi-crosshairs-gps </v-icon>
                </v-btn>
              </v-row>
              <v-row style="place-content: center">
                <span style="font-weight: bold"> ME GEOLOCALISER </span>
              </v-row>
            </v-col>
          </div>
        </l-map>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
import * as Vue2Leaflet from "vue2-leaflet";
import { latLng, icon } from "leaflet";
import { OpenStreetMapProvider } from "leaflet-geosearch";
import VGeosearch from "vue2-leaflet-geosearch";
import "leaflet/dist/leaflet.css";
import "leaflet-geosearch/assets/css/leaflet.css";
import Vue2LeafletMarkercluster from "vue2-leaflet-markercluster";
import { onMounted } from "@vue/composition-api";
import { formatDateCustom } from "@/composables/utils.js";
import {
  getNearPav,
  getCommuneFromLatLong,
  getCommuneFromLatLongFromGouv,
  getCommuneFromLatLongFromOpenStreetMap,
  getCommuneId,
  getCityFromName,
  getNbDemandeAjoutCom,
} from "@/composables/getApi.js";
import {
  createAnomalie,
  createDemandeAjoutCom,
} from "@/composables/postApi.js";
import { URL_BACKEND, debug } from "../models/const";
const provider = new OpenStreetMapProvider({
  params: {
    "accept-language": "fr",
    country: "France",
    countrycodes: "fr", 
  },
});

export default {
  components: {
    "l-map": Vue2Leaflet.LMap,
    "v-tilelayer": Vue2Leaflet.LTileLayer,
    "v-icondefault": Vue2Leaflet.LIconDefault,
    "v-marker": Vue2Leaflet.LMarker,
    //'v-popup': Vue2Leaflet.LPopup,
    "v-marker-cluster": Vue2LeafletMarkercluster,
    "l-control-attribution": Vue2Leaflet.LControlAttribution,
    VGeosearch,
  },

  props: {
    locationIsLoad: Boolean,
  },

  methods: {
    //affiche le menu si l'utilisateur est authentifié
    displayAnomalieMenu() {
      //user pas loggué, on affiche une popup
      if (localStorage.getItem("user") == null) {
        this.userNotLogged = true;
      } else {
        this.userNotLogged = false;
        this.dialogAnomalie = true;
      }
    },

    //Pour ajouter une anomalie directement depuis
    async setAnomalie() {
     
      let rep = null;
      //creation des data a envoye
      var bodyFormData = new FormData();

      if (this.idPav != -1) {
        bodyFormData.append("type", this.selectedItemAnomalie);
        bodyFormData.append("comm", this.commentAnomalie);
        bodyFormData.append("id_pav", this.idPav);

        rep = await createAnomalie(bodyFormData);

        if (
          rep != null &&
          !rep.errored &&
          this.idPav != -1 &&
          rep.codeStatus != "-1"
        ) {
          this.message = "Anomalie crée";
          this.successfulCreateAnomalie = true;
          this.dialogAnomalie = false;  
          this.typeMessage = "";
          this.commentAnomalie = "";
          this.selectedItemAnomalie = "";
        } else {
          this.message =
            "Impossible de créér l'anomalie : " + rep.errorResponse;
          this.typeMessage = "error";
          this.successfulCreateAnomalie = false;
        }
      }
    },

    async createDemandeAjoutCom() {
      //creation des data a envoye
      var bodyFormData = new FormData();
      bodyFormData.append("idCom", this.$store.state.myCommuneObj.id);
      bodyFormData.append("idComCom", this.$store.state.comCom.id); //950
      await createDemandeAjoutCom(bodyFormData);
    },

    beginLoadTile() {
      this.loadingTiles = true;
      this.dialogLoading = true;
    },

    endLoadedAlltiles() {
      this.loadingTiles = false;

      if (this.loadingMarkers == false && this.firstLoad)
        this.dialogLoading = false;
    },

    //Permet de remplir la vue Dialog avec les informations du PAV (photo, conteneurs,..)
    openInfoPav(value) {
      this.conteneursSelected = [];
      this.dialog = true;
      if (value.photo != URL_BACKEND) this.pavImgSelectd = value.photo;
      else this.pavImgSelectd = require("../assets/pav_default.png");

      this.latitudePavSelect = value.latitude;
      this.longitudePavSelect = value.longitude;
      this.pavNameSelected =
        value.commune + " " + value.postalCode + " à " + value.distance + " Km";
      this.idPav = value.id;

      this.pavInfoValide = value.valide
        ? ""
        : "Point d'apport en cours de validation";

      for (let z = 0; z < value.nbCont; z++) {
        var aCont = value.getConteneur(z);

        let levelTextToDisplay = "";

        if (aCont.level == 100)
          levelTextToDisplay =
            "Un citoyen a indiqué une information de niveau " +
            formatDateCustom(aCont.dateLastUserLevel);
        else
          levelTextToDisplay =
            "Pas d'information fiable sur le niveau du conteneur";

        this.conteneursSelected.push({
          id: z,
          title:
            aCont.type +
            " " +
            aCont.content +
            " ( Levée " +
            aCont.dateLevee +
            " )",
          level: levelTextToDisplay,
          levee: aCont.dateLevee,
          dateLastLevel: aCont.dateLastUserLevel,
          accesPMR: aCont.accesPMR,
        });
      }

      this.userNotLogged = false;
    },

    //Permet de lancer l'application maps sur le navigateur pour se rendre au point de tri séléctionné
    giveTrip(latpos, longpos) {
      if (
        navigator.platform.indexOf("iPhone") != -1 ||
        navigator.platform.indexOf("iPod") != -1 ||
        navigator.platform.indexOf("iPad") != -1
      )
        window.open(
          "maps://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=" +
            latpos +
            "," +
            longpos
        );
      else
        window.open(
          "https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=" +
            latpos +
            "," +
            longpos
        );
    },

    //permet de quitter la popup permettant d'installer l'application
    close() {
      const addBtn = document.querySelector("#add-button");
      addBtn.style.display = "none";
    },

    //Permet d'obtenir la localisation GPS de de se center dessus
    async getLocation() {
      try {
        const coordinates = await this.$getLocation({
          enableHighAccuracy: true,
        });

        (this.initialLocation = latLng(coordinates.lat, coordinates.lng)),
          (this.myPosition = []);

        this.myPosition.push({
          id: 1,
          latlng: latLng(coordinates.lat, coordinates.lng),
        });
      } catch (error) {
        //Si on a pas de GPS, et qu'on se réolocalise c'est qu'on veut retourner la commune qu'on avait sélectionne auparavant
        this.initMap(false);
      }
    },

 
    //Permet de mettre les marqueurs sur la carto en fonction de l'emplacement
    //On met une tempo de chien de garde pour eviter de se rafraichir indéfiniement
    async updatePav(event) {
      if (debug) console.log(event);

      if (
        this.timestampLastMove == -1 ||
        Date.now() - this.timestampLastMove > 2000
      ) {
        this.loadingMarkers = true;
        //on recupère le nouveau centrage
        //console.log(this.map.getCenter())
        var lat = this.map.getCenter().lat;
        var lng = this.map.getCenter().lng;

        //Si le centrage et ma position initial est de plus de XX kilometre alors suppresion des marqueurs

        //Sinon on ne fait qu'ajouter les marqueur
        await this.getNearPav(lat, lng);

        this.initialLocation = latLng(lat, lng);
        this.timestampLastMove = Date.now();
        if (
          this.$refs.clusterRef != null &&
          this.$refs.clusterRef.mapObject != null
        )
          this.$refs.clusterRef.mapObject.refreshClusters();

        this.loadingMarkers = false;
      }

      if (
        this.loadingMarkers == false &&
        this.loadingTiles == false &&
        this.firstLoad
      )
        this.dialogLoading = false;
    },

    //Permet de récuper les PAV les plus proches en base de données
    //Ajout les marqueurs seulement si pas présent ( pas de doublon !!)
    async getNearPav(lat, lng) {
      //console.log("getNearPav ");

      let pavProche = await getNearPav(lat, lng);
      let listePav = await pavProche.pav;

      let displayPavRelateToFilter = false;

      for (var i = 0; i < listePav.length; i++) {
        if (i == 0) {
          this.theNearestPavKm = listePav[0].distance;   
        }

        displayPavRelateToFilter = false;
        if (
          this.allMarkersObject == null ||
          (!(listePav[i].id in this.allMarkersObject) &&
            this.allMarkersObject[listePav[i].id] != listePav[i].id)
        ) {
          this.allMarkersObject[listePav[i].id] = listePav[i].id;

          var iconeCont = this.iconConteneurPasValide;

          if (listePav[i].valide) iconeCont = this.iconConteneur;

          //parcourir tous les conteneurs
          for (let z = 0; z < listePav[i].nbCont; z++) {
            var aCont = listePav[i].getConteneur(z);

            for (var aDechet in this.listeDechetComCom) {
              if (
                aCont.content.toLowerCase() ==
                  this.listeDechetComCom[aDechet]["contenu"].toLowerCase() &&
                this.listeDechetComCom[aDechet]["visible"]
              )
                displayPavRelateToFilter = true;
            }

            if (this.accesPMR && aCont.accesPMR)
              displayPavRelateToFilter = true;

            let dateLevel = new Date(aCont.dateLastUserLevel);

            let dateNow = new Date();

            dateLevel = dateLevel.getTime() / 86400000;
            dateNow = dateNow.getTime() / 86400000;
            let ecartJour = new Number(dateNow - dateLevel).toFixed(0);

            //On indique à l'utilisateur sur la carte un conteneur rouge pour dire
            //attention un utilisateur à voté indiquant que le conteneur a été plein il y a moins de 24 heures
            if (ecartJour == 0) {
              iconeCont = this.iconConteneurPlein;
            }
            //en jaune pour indiquer que l'information a plusieurs jours
            else if (ecartJour >= 1 && ecartJour <= 7) {
              iconeCont = this.iconConteneurMilieu;
              break;
            }

          }

          if (displayPavRelateToFilter) {
            this.locations.push({
              id: listePav[i].id,
              latlng: latLng(
                parseFloat(listePav[i].latitude),
                parseFloat(listePav[i].longitude)
              ),
              photoImg: listePav[i].photo,
              pavInfo: listePav[i],
              icon: iconeCont,
            });
          }
        }
      }
    },

    //Permet d'obtenir les informations sur la la commune où l'on est
    //A savoir la communeID, le nom de la commune, et l'adresse
    async getLocationInfo() {
      //recherche de la commune où l'on est et la comcom
      let communeName = await getCommuneFromLatLong();
      this.cityName = await communeName.myCommune;

      if (debug) {
        console.log(this.$store.state.comCom);
      }

      //recherche avec l'api gouv pour avoir plus d'info comme par exemple le nom de la rue
      let communeName2 = await getCommuneFromLatLongFromGouv();
      let nameStreet = await communeName2.myStreet;
      //console.log(nameStreet);

      //si la première recherche n'a pas donné d'adresse alors on va chercher la seconde
      if (nameStreet != null && nameStreet == "") {
        let communeName3 = await getCommuneFromLatLongFromOpenStreetMap();
        nameStreet = await communeName3.myStreet;
        //console.log(nameStreet);
      }

      //recupère l'ID de la commune
      if (this.$store.state.communeID == "") getCommuneId(this.cityName);
    },

    async getListeDechet() {
      this.listeDechetComCom = [];
      if (this.$store.state.comCom != null) {
        this.listeDechetComCom = this.$store.state.comCom.listeDechet.slice();
      }

      for (var i in this.listeDechetComCom) {
        if (debug) console.log(i);
        this.listeDechetComCom[i]["valueModele"] = false;
        this.listeDechetComCom[i]["appartenance_ext"] = 0;
        this.listeDechetComCom[i]["visible"] = true;
      }

      //taille de la liste des déchets
      var tailleDechetListeComCom = 0;
      if (this.listeDechetComCom != null)
        tailleDechetListeComCom = this.listeDechetComCom.length;

      if (debug) console.log(tailleDechetListeComCom);

      //on parcours la liste des entreprises
      let entreprises = this.$store.state.entrepriseObj;
      //console.log(entreprises);
      for (var e in entreprises) {
        let typeCont = entreprises[e]["d1Type"];
        let contenuCont = entreprises[e]["d1Contenu"];
        this.listeDechetComCom.push({
          valueModele: false,
          contenu: contenuCont,
          type: typeCont,
          name:
            entreprises[e]["d1Contenu"] + " (" + entreprises[e]["name"] + ")",
          apparence: "",
          type_emplacement: "aérien",
          appartenance_ext: entreprises[e]["id"],
          visible: true,
        });
      }
    },

    click: () => console.log("clusterclick"),
    ready: () => console.log("ready"),

    //Permet de charger la map et de se geolocaliser
    async initMap(forcedReload) {
      this.myPosition = [];
      this.locations = [];
      this.allMarkersObject = {};

      try {

        //Si pas de commune présélectionnée dans la vue (par exemple sur changement de niveau)
        if (this.latLongSelectedCommune == null) {
          //console.log(this.$store.state.myLatitude);

          //par contre si on adéjà une donnée de geoloc enregistré, on ne demande pas les infos du GPS
          if (this.$store.state.myLatitude == 0) {
            const coordinates = await this.$getLocation({
              enableHighAccuracy: true,
            });

            //Pour stocker les coordonnées
            this.$store.commit("setLatitude", coordinates.lat);
            this.$store.commit("setLongitude", coordinates.lng);
          }
          //on a des déjà des infos que l'on a sauvegardé
          else {
            this.latLongSelectedCommune = {};

            this.latLongSelectedCommune["latitude"] =
              this.$store.state.myLatitude;
            this.latLongSelectedCommune["longitude"] =
              this.$store.state.myLongitude;
          }
        } else {
          this.$store.commit(
            "setLatitude",
            this.latLongSelectedCommune["latitude"]
          );
          this.$store.commit(
            "setLongitude",
            this.latLongSelectedCommune["longitude"]
          );
        }

        await this.getLocationInfo();

        if (this.initFilter == false) {
          await this.getListeDechet();
          this.initFilter = true;
        }

        if (forcedReload == false) this.timestampLastMove = Date.now();

        if (forcedReload)
          this.initialLocation = latLng(
            this.map.getCenter().lat,
            this.map.getCenter().lng
          );
        else
          this.initialLocation = latLng(
            this.$store.state.myLatitude,
            this.$store.state.myLongitude
          );
        this.myPosition.push({
          id: 1,
          latlng: latLng(
            this.$store.state.myLatitude,
            this.$store.state.myLongitude
          ),
        });

        this.getNearPav(
          this.$store.state.myLatitude,
          this.$store.state.myLongitude
        );

        //console.log(forcedReload + " " + this.latLongSelectedCommune);
        if (forcedReload || this.latLongSelectedCommune != null) {
          this.map.fitBounds(this.map.getBounds());

          if (this.$refs.clusterRef != null)
            this.$refs.clusterRef.mapObject.refreshClusters();

          //pour forcer la resfresh
          this.timestampLastMove = -1;
        }

        if (debug) console.log("init map");
      } catch (error) {
        console.log(error);
        this.noLocation = true;
        this.dialogChoiceLocation = true;
      }
    },
  },

  beforeMount() {
    this.initMap(false);
  },

  setup() {
    let myPosition = [];
    let initialLocation;
    let locations = [];

    onMounted(() => console.log("Mount"));

    return {
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      dialog: false,
      pavNameSelected: "",
      pavInfoValide: "",
      pavImgSelectd: "",
      conteneursSelected: [],
      latitudePavSelect: 0,
      longitudePavSelect: 0,
      locations,
      myPosition,
      iconConteneur: icon({
        iconUrl: require("../assets/conteneur.png"),
        iconSize: [32, 37],
        iconAnchor: [16, 37],
      }),
      iconConteneurPasValide: icon({
        iconUrl: require("../assets/conteneur_pasvalide.png"),
        iconSize: [32, 37],
        iconAnchor: [16, 37],
      }),
      iconConteneurMilieu: icon({
        iconUrl: require("../assets/conteneur_milieu.png"),
        iconSize: [32, 37],
        iconAnchor: [16, 37],
      }),
      iconConteneurPlein: icon({
        iconUrl: require("../assets/conteneur_plein.png"),
        iconSize: [32, 37],
        iconAnchor: [16, 37],
      }),
      iconMe: icon({
        iconUrl: require("../assets/user_location.png"),
        iconSize: [32, 37],
        iconAnchor: [16, 37],
      }),
      clusterOptions: {},
      initialLocation,
      currentZoom: 13,
      zoom: 13,
      info: null,
      firstLoad: false,
      cityName: "",
      geosearchOptions: {
        provider: provider,
        showMarker: false,
        autoClose: true,
        style: "button",
        position: "topright",
        searchLabel: "Séléctionner une ville",
        notFoundMessage: "Pas de correspondance",
        maxSuggestions: 5,
        popupFormat: ({ result }) => console.log(result),
        classNames: {
          container: "leaflet-bar leaflet-control-geosearch",
          button: "leaflet-bar-part leaflet-bar-part-single",
          resetButton: "reset",
          msgbox: "leaflet-bar message",
          form: "",
          input: "",
        },
      },
      map: null,
      timestampLastMove: -1,
      allMarkersObject: {},
      loadingTiles: false,
      loadingMarkers: false,
      dialogLoading: false,
      dialogAnomalie: false,
      dialogFilter: false,
      itemAnomalie: [
        { text: "Erreur de géolocalisation" },
        { text: "Mauvais nom de rue" },
      ],
      selectedItemAnomalie: "",
      commentAnomalie: "",
      idPav: -1,
      message: "",
      typeMessage: "",
      userNotLogged: true,
      successfulCreateAnomalie: false,
      showBacVert: true,
      showBacJaune: true,
      showBacBleu: true,
      showBacOM: true,
      dialogChoiceLocation: false,
      loadingCommunes: false,
      itemCommunes: [],
      searchCommunes: null,
      selectedCommune: "",
      latLongSelectedCommune: null,
      listeCommunes: [{ text: "Marcilloles" }, { text: "Beaurepaire" }],
      listeDechetComCom: [],
      accesPMR: false,
      initFilter: false,
      dialogDemanderParticipation: false,
      theNearestPavKm: -1,
      nbDemandeAjoutCom: 0,
    };
  },

  watch: {
    selectedCommune() {
      this.latLongSelectedCommune = {};

      for (let i = 0; i < this.itemCommunes.length; i++) {
        if (this.selectedCommune == this.itemCommunes[i].name) {
          this.latLongSelectedCommune["latitude"] =
            this.itemCommunes[i].latitude;
          this.latLongSelectedCommune["longitude"] =
            this.itemCommunes[i].longitude;
        }
      }
    },
    async searchCommunes(val) {
      this.loadingCommunes = true;

      if (val.length >= 2) {
        let nameCity = await getCityFromName(val);
        this.itemCommunes = nameCity.data;
      }
      this.loadingCommunes = false;
    },

    theNearestPavKm: async function (newVal, oldVal) {
      if (oldVal == -1 && newVal > 5) {
        this.dialogDemanderParticipation = true;
        let response = await getNbDemandeAjoutCom();
        this.nbDemandeAjoutCom = response.data;
      }
    },
  },

  mounted() {
    //on recupère la réfèrence sur notre map, une fois qu'elle s'affiche
    this.map = this.$refs.map.mapObject;
    setTimeout(() => {
      this.firstLoad = true;

      if (this.loadingTiles == false && this.loadingMarkers == false)
        this.dialogLoading = false;

      this.$nextTick(() => {
        this.clusterOptions = { disableClusteringAtZoom: 14 };
      });
    }, 4000);
  },
};
</script>

<style>
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
html,
body {
  height: 95%;
  margin: 0;
}

#refreshButton,
#test {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(75%);
  right: calc(100vw - 95%);
  text-align: center;
  z-index: 500;
}
#refreshButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

#buttonFilter {
  display: flex;
  align-items: center;
  position: absolute;
  right: calc(100vw - 55%);
  text-align: center;
  z-index: 500;
}
#buttonFilter:hover {
  opacity: 0.8;
  cursor: pointer;
}

.leaflet-control-mapbox-geocoder-results a {
  width: 25%;
}
.leaflet-control-mapbox-geocoder-results a:hover {
  width: 25%;
}
.leaflet-control-mapbox-geocoder-results {
  width: 30%;
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
  width: 30%;
}
</style>
