<template >
 <v-bottom-navigation
    absolute
      hide-on-scroll
      vertical
      grow
      color="primary"
  >
    <v-btn to="/">
      <span>Localiser</span>     
      <v-icon>mdi-earth</v-icon>     
    </v-btn>

    <v-btn  to="/scan">
      <span>Scanner</span>
      <v-icon>mdi-barcode-scan</v-icon>
    </v-btn>

    <v-btn  to="/contribute">
      <span>Contribuer</span>
      <v-icon>mdi-handshake</v-icon>
    </v-btn>

    <v-btn to="/info">
      <span>Info</span>
      <v-icon>mdi-information-outline</v-icon>
    </v-btn>

      <v-menu
          >
            <template v-slot:activator="{ on, attrs }">               
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
              >
               <span>Réglages</span>
                <v-icon>mdi-dots-vertical</v-icon>
              
              </v-btn>
            </template>

            <v-list>
             
              <v-list-item  @click="selectSection('')">
                <v-list-item-title v-model = "connexionState">{{connexionStateMsg}}</v-list-item-title>
              </v-list-item>

              <v-list-item  @click="selectSection('/registerOrProfile')">
                <v-list-item-title v-model = "registerOrProfile">{{registerOrProfile}}</v-list-item-title>
              </v-list-item>

             <!-- <v-list-item  @click="selectSection('/espace_pro')"> 
                <v-list-item-title>Espace Pro</v-list-item-title>
              </v-list-item>
              -->

              <v-list-item  v-if="mciEnable" @click="selectSection('/mci')">
                <v-list-item-title>MCI</v-list-item-title>
              </v-list-item>        
              
              <v-list-item  >
                <v-list-item-title>{{version}}</v-list-item-title>
              </v-list-item>

              <v-list-item  >
                <v-btn id="btn-install" color='#30ac7c' @click="installApp()" dark> 
                  Installer l'app OuJeTrie
                  <v-icon dark>
                    mdi-download
                  </v-icon>
                </v-btn>
              </v-list-item>

              <v-list-item  >
                <v-list-item-title>Paramètres</v-list-item-title>
              </v-list-item>

            </v-list>
        
          </v-menu>

  </v-bottom-navigation>

</template>

<script>
export default {
  name: 'Navigation',
  data() { 
    return {
      version:localStorage.getItem('version'),
      connexionState:localStorage.getItem('user')==null ? 'Se connecter':'Se déconnecter',
      registerOrProfile: localStorage.getItem('user')==null ? "S'enregistrer":'Mon Profil',
      deferredPrompt:null,
      mciEnable:false,
    }
  },

  methods: {

      installApp()
      {
       
        console.log("Click on install banner")   
        // Show the prompt
        this.deferredPrompt.prompt();
        // Wait for the user to respond to the prompt
        this.deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the A2HS prompt');
            } else {
              console.log('User dismissed the A2HS prompt');
            }
            this.deferredPrompt = null;
          });
     
      },
 
	   //Permet de charger l'url en paramètre	  
      selectSection(url) {  
      
      if(url!=='')
      {
        if(url=='/registerOrProfile')
        {
            if (this.registerOrProfile=="Mon Profil")
              this.$router.push('/profile');
            else
              this.$router.push('/register');

        }else
        {
          this.$router.push(url);
        }
        //console.log(url);
      }else
      {
        if(this.connexionState=="Se déconnecter")
        {
         this.$store.dispatch('auth/logout').then(
            () => {
             this.connexionState="Se connecter";
            }
          );
        }
        else
        {
           this.$router.push('/login');
        }
      }
      }, 
   
    },
   
    computed: {
      connexionStateMsg:function() {
        return this.connexionState;
    }
  },
    

   mounted() {

    //Pour permettre l'installation de l'application
    //let deferredPrompt;
    var self = this;
  
    window.addEventListener('beforeinstallprompt', (e) => 
    {     
      //const addBtn = document.querySelector('#btn-install');
      console.log("Init install Banner");
      // Prevent Chrome 67 and earlier from automatically showing the prompt
      e.preventDefault();
      // Stash the event so it can be triggered later.
      self.deferredPrompt = e;  
    });

     //affiche la version remontée par le service worker     
     setInterval(function()
     {        
       self.version=localStorage.getItem('version');      
       self.connexionState=localStorage.getItem('user')==null ? 'Se connecter':'Se déconnecter';
       self.registerOrProfile= localStorage.getItem('user')==null ? "S'enregistrer":'Mon Profil';

       let loggedIn = localStorage.getItem('user');
       if(loggedIn!=null ) 
       {
         if ("perms" in JSON.parse(loggedIn).user && JSON.parse(loggedIn).user.perms!=null && self.mciEnable==false)
         {
            let perms=JSON.parse(loggedIn).user.perms;
            for(let i=0;i<perms.length;i++)
            {
              if(perms[i]=="staff_mci")
               self.mciEnable=true;
            }            
         }         
       }
       else
      {
        self.mciEnable=false;
      }

     }, 10000);
     
  },
}
</script>

<style>

.ChoiceView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr;
  gap: 5px 5px;
  grid-template-areas: "Map Scan Contribute Informations Params";
  grid-area: ChoiceView; 
}

.Map { grid-area: Map;}

.Scan { grid-area: Scan;  text-align: center; display: inline-block; margin: 0 10%; font-size: 80%;}

.Contribute { grid-area: Contribute; }

.Informations { grid-area: Informations; }

.Params { grid-area: Params; }

 .v-item-group.v-bottom-navigation .v-btn.v-size--default {
        height: inherit;
    }

</style>