<template>
  <v-card class="mx-auto" max-width="434" tile>
    <v-img
      height="100%"
      src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
    ></v-img>
    <v-card-text>
      <v-flex class="mb-4">
        <v-avatar size="96">
          <v-img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"></v-img>
        </v-avatar>
      </v-flex>
      <v-list-item color="rgba(0, 0, 0, .4)">
        <v-list-item-content>
          <v-list-item-title class="title">Utilisateur </v-list-item-title>
          <v-list-item-subtitle
            >{{ currentUser.username }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="rgba(0, 0, 0, .4)">
        <v-list-item-content>
          <v-list-item-title class="title">Email</v-list-item-title>
          <v-list-item-subtitle>{{ currentUser.email }} </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="rgba(0, 0, 0, .4)">
        <v-list-item-content>
          <v-list-item-title class="title">Rôle</v-list-item-title>
          <v-list-item-subtitle>
            <span v-for="(role, index) in currentUser.roles" :key="index">{{
              role
            }}</span>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="rgba(0, 0, 0, .4)">
        <v-list-item-content>
          <v-list-item-title class="title"
            >Nombre de produit scanné</v-list-item-title
          >
          <v-list-item-subtitle>
            Non disponible pour le moment
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-card-text>
    <!--<v-btn color="#30ac7c" dark v-on:click="setGoMCI()">
      Saisie MCI
      <v-icon dark>
        mdi-refresh
      </v-icon>
    </v-btn>-->
  </v-card>
</template>

<script>
export default {
  name: "Profile",
  computed: {
    currentUser() {
      return JSON.parse(localStorage.getItem("user")).user;
    },
  },
  methods: {
    setGoMCI() {
      this.$router.push("/mci");
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>
