<template>
  <div class="col-md-12">
    <v-alert
      v-model="alert"
      outlined
      type="success"
      text
      dismissible
      v-if="message && successful"
    >
      {{ message }}</v-alert
    >

    <div class="card card-container">
      <img id="profile-img" src="@/assets/logo.png" class="profile-img-card" />
      <ValidationObserver v-slot="{ handleSubmit }">
        <form name="form" @submit.prevent="handleSubmit(handleRegister)">
          <div v-if="!successful">
            <ValidationProvider
              name="utilisateur"
              rules="required|min:3|max:20"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="user.username"
                :error-messages="errors[0]"
                label="Nom utilisateur"
                required
                prepend-icon="mdi-account"
              />
            </ValidationProvider>

            <ValidationProvider
              name="email"
              rules="required|email|max:50"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="user.email"
                :error-messages="errors[0]"
                label="Email"
                required
                prepend-icon="mdi-mail"
              />
            </ValidationProvider>

            <ValidationProvider
              name="mot de passe"
              rules="required|min:8|max:40"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="user.password"
                :type="showPassword ? 'text' : 'password'"
                :error-messages="errors[0]"
                label="Mot de passe"
                required
                prepend-icon="mdi-lock"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
              />
            </ValidationProvider>
            <v-checkbox v-model="checkbox_cgu">
              <template v-slot:label>
                <div>
                  J'accepte
                  <a v-on:click="dialog_cgu = true" @click.stop>
                    les Conditions Générales d'Utilisations
                  </a>
                </div>
              </template>
            </v-checkbox>
            <div>
              <v-btn
                class="signin-btn"
                type="submit"
                rounded
                color="white"
                dark
              >
                S'enregistrer
              </v-btn>
            </div>

            <v-dialog
              v-model="dialog_cgu"
              transition="fade-transition"
              class="mx-auto"
              width="100vh"
            >
              <v-card>
                <v-card-title class="headline">
                  Conditions Générales d'Utilisations
                </v-card-title>
                <v-card-text
                  >
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialog_cgu = false"
                  >
                    Quitter
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </form>
      </ValidationObserver>
    </div>

    <v-alert
      outlined
      type="error"
      text
      dismissible
      v-if="message && !successful"
    >
      {{ message }}</v-alert
    >
  </div>
</template>

<script>
import User from "@/models/user";
export default {
  name: "Register",
  data() {
    return {
      user: new User("", "", ""),
      submitted: false,
      successful: false,
      message: "",
      showPassword: false,
      checkbox_cgu: false,
      dialog_cgu: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push("/");
    }
  },
  methods: {
    //Permet d'enregistrer un utilisateur
    //Modifier la page si l'enregsitrement à marché
    handleRegister() {
      this.message = "";
      this.submitted = true;

      this.$store.dispatch("auth/register", this.user).then(
        (data) => {
          console.log(data);

          if (data.token) {
            localStorage.setItem("user", JSON.stringify(data));
          }

          this.message =
            "Enregistrement effectué, redirection dans 5 secondes sur la page de cartographie des PAV";
          this.successful = true;

          //redirection vers la page de cartographie
          var self = this;
          setTimeout(function () {
            self.$router.push("/");
          }, 5000);
        },
        (error) => {
          console.log(error.reponse);
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.successful = false;
        }
      );
    },
  },
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
}

.signin-btn {
  width: 100%;
  color: #30ac7c;
}
</style>