<template>
  <v-container v-on:dblclick="/*toggle()*/">
    <v-alert
      v-model="alertCamera"
      border="left"
      close-text="Close Alert"
      color="red accent-4"
      dark
      dismissible
    >
      {{ messageCamera }}
    </v-alert>

    <v-text-field
      v-model="barrecode"
      label="Code EAN du produit"
      max="17"
      class="shrink"
      outlined
      dense
      shaped
      solo-inverted
      @click:append="searchEANAndConteneur"
    >
      <template v-slot:append>
        <v-btn depressed color="#30ac7c" @click.stop="searchEANAndConteneur">
          Chercher
        </v-btn>
      </template>
    </v-text-field>

    <fullscreen ref="fullscreen" @change="fullscreenChange" v-if="cameraMount">
      <v-quagga
        :onDetected="logIt"
        :facingMode="mode"
        :deviceId="deviceId"
        :readerSize="readerSize"
        :readerTypes="['ean_reader']"
        v-if="!awaitReponse"
      >
      </v-quagga>
    </fullscreen>

    <v-alert
      v-model="alert"
      border="left"
      close-text="Close Alert"
      color="green accent-4"
      dark
      dismissible
    >
      {{ message }}
      <v-btn
        v-show="false"
        id="add_btn_product"
        class="ma-2"
        color="#30ac7c"
        @click="
          dialog = true;
          alert = false;
        "
        dark
      >
        Proposer l'ajout dans la base
        <v-icon dark> mdi-download </v-icon>
      </v-btn>
    </v-alert>

    <v-dialog
      v-model="dialog"
      class="mx-auto"
      transition="dialog-bottom-transition"
      fluid
    >
      <v-card class="custom-card-contribute">
        <v-toolbar dark color="green">
          <v-toolbar-title
            >Selectionner les emballages suivant :</v-toolbar-title
          >
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click.native="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-row class="mx-auto" no-gutters>
          <v-col class="mx-auto">
            <v-switch label="Verre" color="blue" inset hide-details></v-switch>
            <v-switch label="Papier" color="blue" inset hide-details></v-switch>
            <v-switch
              label="Sachet plastique "
              color="blue"
              inset
              hide-details
            ></v-switch>
            <v-switch
              label="Carton "
              color="blue"
              inset
              hide-details
            ></v-switch>
          </v-col>
          <v-col class="mx-auto">
            <v-switch
              label="Métal/Conserve"
              color="blue"
              inset
              hide-details
            ></v-switch>
            <v-switch
              label="Indéfini"
              color="blue"
              inset
              hide-details
            ></v-switch>
          </v-col>
        </v-row>

        <v-row class="ma-auto" no-gutters>
          <v-col cols="8" class="ma-auto">
            <v-chip
              class="ma-1"
              medium
              color="green"
              text-color="white"
              @click="dialog = false"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              Envoyer les informations
            </v-chip>
          </v-col>
        </v-row>
        <span> Les informations seront ensuite validés par la communauté </span>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Vue from "vue";
import VueQuagga from "vue-quaggajs";
import fullscreen from "vue-fullscreen";
import { onMounted } from "@vue/composition-api";
import {
  getCommuneFromLatLong,
  searchPackaging,
  getNearPav,
} from "@/composables/getApi.js";
import store from "../store";
import Pav from "../models/pav";
import Conteneur from "../models/conteneur";
/*eslint-disable no-unused-vars*/
import { excludeWord, TYPE_CONTENEUR, MAX_NB_BARRECODE } from "../models/const";

//Amélioration sur qwagga
//Attention passer les workers à 4 !!! dans la lib
//==> vérifier si le hardware du tel permet de passer à 4 coeurs
// ==>peut être penser à pouvoir allumer la lampe pour mieux voir
// ==> pouvoir choisir le mode de camera

Vue.use(VueQuagga);
Vue.use(fullscreen);

export default {
  name: "Scan",
  setup() {
    onMounted(() => getCommuneFromLatLong());

    return {
      readerSize: {
        width: 640,
        height: 480,
      },
      detecteds: [],
      mode: "environment",
      //deviceId:'9362c5a8e1ea4ee20878f49526763c1832b32cf35a18d9bd76489197dba788bb',
      deviceId: "",
      packaging: "",
      addresseNearPAV: "",
      conteneurToSort: "",
      barrecode: "",
      fullscreen: false,
      isOpen: false,
      awaitReponse: false,
      alert: false,
      message: "",
      alertCamera: false,
      messageCamera: "",
      cameraMount: false,
      dialog: false,
      maxCheckBarreCode: MAX_NB_BARRECODE,
      tabBarreCode: [],
      nbCheckBarreCode: 0,
    };
  },

  methods: {
    //Pour passer la camera en plein écran
    toggle() {
      this.$refs["fullscreen"].toggle(); // recommended
    },

    fullscreenChange(fullscreen) {
      this.fullscreen = fullscreen;
    },

    //S'exécute une fois que le code barre a été scanné
    async logIt(data) {
      this.tabBarreCode[this.nbCheckBarreCode] = data.codeResult.code;
      this.nbCheckBarreCode = this.nbCheckBarreCode + 1;

      if (this.nbCheckBarreCode > this.maxCheckBarreCode) {
        var a = [],
          b = [],
          prev;
        var maxOccur = -1;
        var indiceMaxOccur = 0;
        var finalBarreCode;

        //compte les occurences de chaque barrecode
        this.tabBarreCode.sort();
        for (var i = 0; i < this.tabBarreCode.length; i++) {
          if (this.tabBarreCode[i] !== prev) {
            a.push(this.tabBarreCode[i]);
            b.push(1);
          } else {
            b[b.length - 1]++;

            if (b[b.length - 1] > maxOccur) {
              maxOccur = b[b.length - 1];
              indiceMaxOccur = b.length - 1;
            }
          }
          prev = this.tabBarreCode[i];
        }

        //si maxOccur vaut -1, c'est que le tableau n'a qu'un élèment
        if (maxOccur == -1) finalBarreCode = a[0];
        else finalBarreCode = a[indiceMaxOccur];

        //on lance la recherche car on est sur que le codeBarre est bon
        this.validateBarreCode(finalBarreCode);

        //reset des valeurs
        this.nbCheckBarreCode = 0;
        this.tabBarreCode = [];
      }
    },

    async validateBarreCode(data) {
      this.awaitReponse = true;
      //console.log('detected', data.toString())
      this.barrecode = data;

      //indique ce qui est triable
      this.searchEANAndConteneur();
    },

    //Permet de chercher le conteneur le plus approprié en fonction du packaging
    //de l'élèment séléctionné
    async searchEANAndConteneur() {
      let state = await searchPackaging(this.barrecode);
      this.packaging = state.packaging;

      if (
        this.packaging != null &&
        this.packaging != "" &&
        this.packaging.length > 2
      ) {
        //rechercher dans quel bac de la comcom on peut trouver les déchets

        //liste contenant la liste des déchets possible d'une comcom
        let compteurTypeDechet = [];

        //console.log(store.state.comCom.listeDechet.length);
        for (let i = 0; i < store.state.comCom.listeDechet.length; i++) {
          compteurTypeDechet.push({
            name: store.state.comCom.listeDechet[i].name,
            contenu: store.state.comCom.listeDechet[i].contenu,
            keyword: store.state.comCom.listeDechet[i].motClesDechet,
            compteur: 0,
          });
        }

        //console.log(compteurTypeDechet);

        //Pour chaque mot récupére, on va regarder si ça match avec ce qu'on tri dans les
        //bac de couleurs
        //POur chaque bac, on fait un compteur
        //Prévoir les mots interdits (comme Bouteille qui est contenu dans plusieurs contetneur)
        let listePackaging1 = this.packaging.toLowerCase().split(",");
        let listePackaging2 = this.packaging.toLowerCase().split(" ");
        let listePackaging = listePackaging1;

        if (listePackaging1.length == 1) listePackaging = listePackaging2;

        for (let i = 0; i < listePackaging.length; i++) {
          for (let z = 0; z < compteurTypeDechet.length; z++) {
            if (
              compteurTypeDechet[z].keyword
                .toLowerCase()
                .includes(listePackaging[i]) &&
              !excludeWord.includes(listePackaging[i])
            ) {
              compteurTypeDechet[z].compteur =
                compteurTypeDechet[z].compteur + 1;
            }
          }
        }

        //console.log(compteurBac);
        let indiceDechetWin = -1;
        let nbOccurMax = -1;
        for (let z = 0; z < compteurTypeDechet.length; z++) {
          if (compteurTypeDechet[z].compteur > nbOccurMax) {
            nbOccurMax = compteurTypeDechet[z].compteur;
            indiceDechetWin = z;
          }
        }

        if (indiceDechetWin != -1)
          this.conteneurToSort = compteurTypeDechet[indiceDechetWin].contenu;
        //recherche du PAV le plus proche
        await this.getKindOfConteneurToSort();

        this.message =
          this.packaging +
          " à trier à " +
          this.addresseNearPAV +
          " dans le conteneur " +
          this.conteneurToSort;
      } else {
        this.message = "Ce produit n'a pas étè trouvé dans la base";
      }

      //this.isOpen=true;
      this.alert = true;
      this.awaitReponse = false;
    },

    //Permet de prendre le PAV et le conteneur qui peut trier l'objet
    async getKindOfConteneurToSort() {
      let nearPav = await getNearPav(-1, -1, -1, -1);

      await nearPav;
      //console.log(nearPav);

      for (let y = 0; y < nearPav.pav.length; y++) {
        var isFinded = false;
        let aPav = new Pav();
        aPav.copy(nearPav.pav[y]);

        let nb_conteneur = aPav.nbCont;

        for (let z = 0; z < nb_conteneur; z++) {
          let aConteneur = new Conteneur();
          aConteneur.copy(aPav.getConteneur(z));

          //rajouter le niveau de remplissage
          if (aConteneur.content == this.conteneurToSort) {
            this.addresseNearPAV = aPav.address + " " + aPav.commune;
            //console.log("trouve");
            isFinded = true;
          }
        }

        if (isFinded) break;
      }
    },
  },
  async mounted() {
    var self = this;

    await navigator.mediaDevices
      .enumerateDevices()
      .then(function (devices) {
        var DEVICES = [];
        var final = null;

        console.log(devices.length);

        var arrayLength = devices.length;
        for (var i = 0; i < arrayLength; i++) {
          var tempDevice = devices[i];

          //console.log(tempDevice)

          if (tempDevice.kind == "videoinput") {
            DEVICES.push(tempDevice);
            if (
              tempDevice.facingMode == "environment" ||
              tempDevice.label.indexOf("facing back") >= 0
            ) {
              //console.log(tempDevice.deviceId)
              self.deviceId = tempDevice.deviceId;
              self.cameraMount = true;
              //console.log(self.deviceId);
              //console.log(tempDevice.label)
            }
          }
        }

        //au cas où nous n'arrivons pas a trouver une camera, on prend la dernière
        var totalCameras = DEVICES.length;
        console.log(DEVICES.length);
        if (final == null) {
          final = DEVICES[totalCameras - 1];
          self.deviceId = DEVICES[totalCameras - 1].deviceId;

          if (DEVICES[totalCameras - 1].label == "") {
            self.messageCamera =
              "Cliquer sur le cadenas vers l'adresse https://oujetrie.fr, puis valider la camera";
            self.alertCamera = true;
          }
          self.cameraMount = true;
          //console.log(self.deviceId);
        }
      })
      .catch((e) => console.error(e));
  },

  destroyed() {
    //Pour stopper le composant qwagga
    this.cameraMount = false;
  },
};
</script>

<style>
@import "../assets/css/scan.css";
</style>
