<template>
  <v-container>
    <!-- le menu pour créer une PAV  FFFACD(jaune)-->
    <v-row class="ma-auto" no-gutters>
      <v-col cols="11" class="ma-auto">
        <v-card class="AddPAV" color="#30ac7c" @click.stop="clickHandler()">
          <v-row align="center">
            <v-col class="shrink">
              <v-btn class="mx-2" fab dark color="success">
                <v-icon dark> mdi-plus </v-icon>
              </v-btn>
            </v-col>
            <v-col class="red--text text--lighten-5">
              {{ title }}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1" class="ma-auto">
        <v-btn fab small dark color="blue" v-on:click="setDialogInfo()">
          <v-icon dark> mdi-information-variant </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      class="mx-auto"
      transition="dialog-bottom-transition"
      fluid
    >
      <v-card class="custom-card-contribute">
        <v-toolbar dark color="green">
          <v-toolbar-title>
            Ajout dans la commune de : <br />
            <center>{{ $store.state.myCommune }}</center></v-toolbar-title
          >
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click.native="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-row class="mx-auto" no-gutters>
          <v-col
            class="mx-auto"
            v-for="(item, i) in listeDechetComCom"
            :key="i"
          >
            <v-switch
              v-model="item.valueModele"
              :label="item.name"
              color="blue"
              inset
              v-if="item.visible"
              hide-details
            ></v-switch>
          </v-col>
        </v-row>

        <v-row class="mx-auto" no-gutters>
          <v-text-field
            label="Adresse :"
            placeholder=".."
            v-model="getAdressePav"
          ></v-text-field>
        </v-row>

        <v-row class="ma-auto" no-gutters>
          <v-col cols="4" class="ma-auto">
            <img
              class="pa-1"
              v-if="imageBytes != null"
              v-bind:src="imageBytes"
              height="100"
              width="100"
            />
            <v-chip
              v-if="imageBytes == null && cameraOk"
              class="ma-1"
              medium
              color="green"
              text-color="white"
              @click="
                dialog = false;
                triggerPhoto();
              "
            >
              <v-avatar left>
                <v-icon right> mdi-open-in-new </v-icon>
              </v-avatar>
              Photo
            </v-chip>
          </v-col>

          <v-col cols="8" class="ma-auto">
            <v-chip
              class="ma-1"
              medium
              color="green"
              text-color="white"
              @click="setCreatePav()"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              Envoyer les informations
            </v-chip>
          </v-col>
        </v-row>
        * les informations sont soumises à validation

        <div
          v-if="message"
          class="alert"
          :class="successful ? 'alert-success' : 'alert-danger'"
        >
          {{ message }}
        </div>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { bus } from "@/main";
import { createPav, uploadFileInPav } from "@/composables/postApi.js";
/*eslint-disable no-unused-vars*/
import { debug } from "../models/const";
import { dataURLtoFile } from "@/composables/utils.js";

export default {
  name: "AddPav",
  props: {
    title: String,
    cameraOk: Boolean,
    listeDechetComCom: Array,
    listeMenuInactif: Array,
  },
  data() {
    return {
      dialog: false,
      btnclick: "",
      labelNearPav: "",
      successful: false,
      message: "",
      adressePav: null,
      imageBytes: null,
      aConteneurModele: {
        type: "",
        content: "",
        color: "",
        state: "1",
        fillingLevel: 0,
        valide: "False",
        dateLeveePassageCont: "",
        heureLeveePassageCont: "",
        dateCreate: "",
        type_emplacement: "",
        apparence: "",
        appartenance_ext: 0,
        accesPMR: "False",
      },
      aPav: {
        position: "",
        address: "",
        name: "",
        insee: 0,
        valide: "False",
        state: "False",
        dateLeveePav: "",
        heureLeveePav: "",
        dateLeveePassageCont: "",
        heureLeveePassageCont: "",
        photo: "",
        dateCreate: "",
        conteneurs: {},
        communeID: "",
        appartenance_ext: 0,
      },
    };
  },

  computed: {
    getAdressePav: {
      get() {
        return this.adressePav;
      },
      set() {
        this.adressePav = this.$store.state.myStreet;
      },
    },
  },
  methods: {
    initVar() {
      for (var i in this.listeDechetComCom) {
        if (this.listeDechetComCom[i]["appartenance_ext"] == 0) {
          for (var e in this.listeMenuInactif) {
            if (this.listeMenuInactif[e]["menu"] == "AddPav") {
              this.listeDechetComCom[i]["visible"] = false;
            }
          }
          this.listeDechetComCom[i]["valueModele"] = false;
        }
      }
    },

    setDialogInfo() {
      bus.$emit("infoBox", "Permet d'ajouter un conteneur");
    },

    //Pour notifier le parent qu'on va prendre un photo
    triggerPhoto() {
      this.$emit("triggerPhoto", "AddPAV");
    },

    //Pour indiquer au parent le retour de la requête
    result(data) {
      this.$emit("componentResult", data);
    },

    clickHandler() {
      this.dialog = true;
      this.initVar();
      this.btnclick = "AddPAV";
    },

    //Requête pour créer un PAV
    async setCreatePav() {
      //creation des data a envoye
      var bodyFormData = new FormData();
      var conteneurs = [];

      this.aPav.position =
        "POINT(" +
        this.$store.state.myLongitude +
        " " +
        this.$store.state.myLatitude +
        "))";
      if (
        this.$store.state.myStreet != null &&
        this.$store.state.myStreet != ""
      ) {
        this.aPav.address = this.$store.state.myStreet;
        this.aPav.name =
          this.$store.state.myCommuneCode + "_" + this.$store.state.myStreet;
      } else {
        this.aPav.address = this.adressePav;
        this.aPav.name =
          this.$store.state.myCommuneCode + "_" + this.adressePav;
      }

      this.aPav.insee = this.$store.state.myCommuneCode;
      this.aPav.dateCreate = Date.now();

      conteneurs = this.createAllConteneur();
      this.aPav.conteneurs = conteneurs;
      this.aPav.communeID = parseInt(this.$store.state.communeID, 10);

      bodyFormData.append("json", JSON.stringify(this.aPav));

      if (debug) {
        console.log(JSON.stringify(this.aPav));
        bus.$emit("debugBox", this.aPav);
      }

      //creation du PAV

      let rep = await createPav(bodyFormData);

      if (debug) {
        console.log(rep);
        console.log(this.imageBytes);
      }

      if (this.imageBytes != null && rep.codeStatus != "-1") {
        //rattachement de la photo
        var file = await dataURLtoFile(this.imageBytes, "test.jpg");
        bodyFormData = new FormData();
        bodyFormData.append("id_pav", rep.idCreatePav);
        bodyFormData.append("file", file);

        rep = await uploadFileInPav(bodyFormData);   
      }

      this.imageBytes = null;
      let typeMessage = "";

      if (!rep.errored && rep.codeStatus != "-1") {
        this.message = "Le point d'apport volontaire a été créé";
        this.successful = true;
        this.dialog = false;
        typeMessage = "success::";
      } else {
        this.message =
          "Impossible de créer le point d'apport volontaire : " +
          rep.errorResponse;
        this.successful = false;
        this.dialog = false;
        typeMessage = "error::";
      }

      this.result(typeMessage + this.message);
    },

    //Retourne un json contenant un conteneur
    setCreateConteneurs(
      type_conteneur,
      couleur,
      contenu,
      type_emplacement,
      appartenance_ext
    ) {
      var aConteneur = JSON.parse(JSON.stringify(this.aConteneurModele));
      aConteneur.content = contenu;
      aConteneur.color = couleur;
      aConteneur.state = "1";
      aConteneur.fillingLevel = 0;
      aConteneur.dateLeveePassageCont = "";
      aConteneur.heureLeveePassageCont = "";
      aConteneur.dateCreate = "";
      aConteneur.type_emplacement = type_emplacement;
      aConteneur.apparence = couleur;
      aConteneur.appartenance_ext = appartenance_ext;
      aConteneur.accesPMR = "False";
      aConteneur.type = type_conteneur;

      return aConteneur;
    },

    //Créer une liste de conteneur au format JSON
    createAllConteneur() {
      var conteneurs = [];
      for (var i in this.listeDechetComCom) {
        if (this.listeDechetComCom[i]["valueModele"]) {
          conteneurs.push(
            this.setCreateConteneurs(
              this.listeDechetComCom[i]["type"],
              this.listeDechetComCom[i]["apparence"],
              this.listeDechetComCom[i]["contenu"],
              this.listeDechetComCom[i]["type_emplacement"],
              this.listeDechetComCom[i]["appartenance_ext"]
            )
          );
        }
      }

      if (debug) console.log(conteneurs);

      return conteneurs;
    },
  },

  beforeMount() {},

  mounted() {
    bus.$on("AddPAV", (data) => {
      this.imageBytes = data;
      this.dialog = true;
      this.btnclick = "AddPAV";
    });

    this.getAdressePav = this.$store.state.myStreet;
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
@import "../assets/css/contribute.css";
</style>
