<template>
  <v-container>
    <!-- le menu pour créer une incivilités-->
    <v-row class="ma-auto" no-gutters>
      <v-col cols="11" class="ma-auto">
        <v-card
          class="IncivilitePAV"
          color="#EF5350"
          @click.stop="clickHandler()"
        >
          <v-row align="center">
            <v-col class="shrink">
              <v-btn
                class="mx-2"
                fab
                dark
                color="red"
                @click.stop="clickHandler()"
              >
                <v-icon dark> mdi-thumb-up </v-icon>
              </v-btn>
            </v-col>
            <v-col class="red--text text--lighten-5">
              {{ title }}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1" class="ma-auto">
        <v-btn fab small dark color="blue" v-on:click="setDialogInfo()">
          <v-icon dark> mdi-information-variant </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      class="mx-auto"
      transition="dialog-bottom-transition"
    >
      <v-card class="custom-card-contribute" elevation="12">
        <v-toolbar dark color="green">
          <v-toolbar-title>Choisir les incivilites </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click.native="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-row class="mx-auto" no-gutters>
          <v-col md="4">
            <v-switch
              v-model="Debordement"
              label="Débordement conteneur"
              color="blue"
              inset
              hide-details
            ></v-switch>
            <v-switch
              v-model="BacEndommage"
              label="Conteneur endommagé "
              color="blue"
              inset
              hide-details
            ></v-switch>
            <v-switch
              v-model="PoubelleSauvage"
              label="Dépôt sauvage"
              color="blue"
              inset
              hide-details
            ></v-switch>
            <v-switch
              v-model="Emcombrant"
              label="Encombrants"
              color="blue"
              inset
              hide-details
            ></v-switch>
          </v-col>
        </v-row>

        <v-row class="mx-auto" no-gutters>
          <img
            v-if="imageBytes != null"
            v-bind:src="imageBytes"
            height="100"
            width="100"
          />
        </v-row>

        <v-row class="mx-auto" no-gutters>
          <v-col class="mx-auto" col="6">
            <v-chip
              class="ma-2"
              medium
              color="green"
              text-color="white"
              @click="
                dialog = false;
                triggerPhoto();
              "
              v-if="cameraOk"
            >
              <v-avatar left>
                <v-icon right> mdi-open-in-new </v-icon>
              </v-avatar>
              Prendre une photo
            </v-chip>
          </v-col>
          <v-col class="mx-auto" col="6">
            <v-chip
              class="ma-2"
              medium
              color="green"
              text-color="white"
              @click="setIncivilite()"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              Envoyer les informations
            </v-chip>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { bus } from "@/main";
import Pav from "../models/pav";
import { uploadFileInPav, createIncivilite } from "@/composables/postApi.js";
import { dataURLtoFile } from "@/composables/utils.js";

//Implementation de la requete POST

export default {
  name: "Incivilite",
  props: {
    title: String,
    cameraOk: Boolean,
  },
  data() {
    return {
      btnclick: "",
      imageBytes: null,
      labelNearPav: "",
      isPhotoTaken: null,
      isCameraOpen: false,
      BacEndommage: false,
      PoubelleSauvage: false,
      Emcombrant: false,
      Debordement: false,
      dialog: false,
      idPav: -1,
    };
  },
  watch: {
    title: function (newVal) {
      console.log(newVal);
    },
  },
  methods: {
    //Pour notifier le parent qu'on va prendre un photo
    triggerPhoto() {
      this.$emit("triggerPhoto", "IncivilitePAV");
    },

    setDialogInfo() {
      bus.$emit(
        "infoBox",
        "Permet d'indiquer à la communauté de communes des anomalies"
      );
    },

    //Pour indiquer au parent le retour de la requête
    result(data) {
      this.$emit("componentResult", data);
    },

    clickHandler() {
      this.dialog = true;
      this.btnclick = "IncivilitePAV";
    },

    //Requête pour la création d'une incivilité dans le backend
    async setIncivilite() {
      let typeMessage = "";
      let rep = null;

      //creation des data a envoye
      var bodyFormData = new FormData();

      //console.log(this.idPav)

      if (this.idPav != -1) {
        bodyFormData.append("sauvage", this.PoubelleSauvage ? "True" : "False");
        bodyFormData.append("abime", this.BacEndommage ? "True" : "False");
        bodyFormData.append("encombrant", this.Encombrants ? "True" : "False");
        bodyFormData.append("debordement", this.debordement ? "True" : "False");
        bodyFormData.append("comment", "");
        bodyFormData.append("id_pav", this.idPav);

        //creation de l'inci
        rep = await createIncivilite(bodyFormData);    
      }

      //si on a un retour du backend pour la création de l'incivilité
      //alors on peut rattacher une photo
      if (
        this.imageBytes != null &&
        this.idPav != -1 &&
        rep.codeStatus != "-1"
      ) {
        //rattachement de la photo
        var file = await dataURLtoFile(this.imageBytes, "test.jpg");

        bodyFormData = new FormData();

        bodyFormData.append("id_inci", rep.idIncivilite);
        bodyFormData.append("file", file);

        rep = await uploadFileInPav(bodyFormData);

      }

      if (
        rep != null &&
        !rep.errored &&
        this.idPav != -1 &&
        rep.codeStatus != "-1"
      ) {
        this.message =
          "L'incivilité a été créée sur ce point d'apport volonaire";
        this.successful = true;
        this.dialog = false;
        this.PoubelleSauvage = false;
        this.BacEndommage = false;
        typeMessage = "success::";
      } else {
        this.message =
          "Impossible de créer une l'incivilité : " + rep.errorResponse;
        this.successful = false;
        this.dialog = false;
        typeMessage = "error::";
      }

      this.result(typeMessage + this.message);
    },
  },

  beforeMount() {},
  computed: {},

  async mounted() {
    //Ecouteur parent pour avoir le retour de la photo en base64
    bus.$on("IncivilitePAV", (data) => {
      //console.log(data)
      this.imageBytes = data;
      this.dialog = true;
      this.btnclick = "IncivilitePAV";
    }),
      //Ecouteur parent pour avoir l'id du PAV
      bus.$on("incivilitePAVInit", (data) => {
        // console.log(data)
        let aPav = new Pav();

        aPav.copy(data);
        this.idPav = aPav.id;

        this.labelNearPav = aPav.address + " " + aPav.commune;
      });
  },
};
</script>

<style>
@import "../assets/css/contribute.css";
</style>
