<template>
  <v-container fluid ma-0 pa-0 fill-width>
    <v-dialog v-model="display" max-width="800px">
      <v-card>
        <v-card-actions>
          <v-spacer><h3 class="headline">Information</h3></v-spacer>
          <v-btn left color="primary" @click="display = false"> Quitter </v-btn>
        </v-card-actions>
        <v-card-text>
          <p v-snip="3">{{ textToDisplay }}</p>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { bus } from "@/main";
export default {
  data: () => {
    return {
      textToDisplay: "",
      display: false,
    };
  },

  async mounted() {
    /* On écoute les alertes sur l'EventBus, le format des alertes est le suivant:
			{
				type: "success" | "error" | ...
				text: string
				duration: number (optionel, valeur par défaut, 3 secondes)
			}
		*/
    bus.$on("infoBox", (data) => {
      this.textToDisplay = data;
      this.display = true;
    });
  },

  methods: {},
};
</script>
