<template>
  <v-container>
    <v-row class="ma-auto" no-gutters>
      <v-col cols="11" class="ma-auto">
        <!-- le menu pour modifier le niveau de conteneur d'un PAV -->
        <v-card class="LevelPAV" color="#30ac7c" @click.stop="clickHandler()">
          <v-row align="center">
            <v-col class="shrink">
              <v-btn
                class="mx-2"
                fab
                dark
                color="success"
                @click.stop="clickHandler()"
              >
                <v-icon dark> mdi-format-list-bulleted-square </v-icon>
              </v-btn>
            </v-col>
            <v-col class="red--text text--lighten-5">
              {{ title }}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1" class="ma-auto">
        <v-btn fab small dark color="blue" v-on:click="setDialogInfo()">
          <v-icon dark> mdi-information-variant </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-dialog
      class="mx-auto"
      v-model="dialog"
      transition="dialog-bottom-transition"
    >
      <v-card class="custom-card-contribute">
        <v-toolbar dark color="green">
          <v-toolbar-title>Niveau de remplissage</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click.native="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-spacer></v-spacer>
        <v-row class="mb-6" no-gutters>
          <span>Actionner le bouton pour indiquer un conteneur PLEIN</span>
        </v-row>

        <v-row class="mx-auto" no-gutters>
          <v-col class="mx-auto" v-for="(item, i) in conteneurs" :key="i">
            <v-switch
              v-model="item.fill"
              :label="item.name + ' ' + item.color + ' (' + item.content + ')'"
              color="blue"
              inset
              hide-details
            ></v-switch>
          </v-col>
        </v-row>

        <v-row class="mb-6" no-gutters> </v-row>

        <v-row no-gutters>
          <v-col md="6" offset-md="6">
            <v-chip
              class="ma-2"
              large
              right
              color="green"
              text-color="white"
              @click="updateAllLevel()"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              Envoyer les informations
            </v-chip>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
//il faut recuperer le point le plus proche
import { bus } from "@/main";
/*eslint-disable no-unused-vars*/
import { TYPE_CONTENEUR } from "../models/const";
import Pav from "../models/pav";
import Conteneur from "../models/conteneur";
import { updateLevelConteneur } from "@/composables/postApi.js";

//Implementation de la requete POST

export default {
  name: "LevelPav",
  props: {
    title: String,
  },
  data() {
    return {
      dialog: false,
      btnclick: "",
      labelNearPav: "",
      conteneurs: [],
    };
  },
  watch: {
    title: function (newVal) {
      console.log(newVal);
    },
  },
  methods: {
    result(data) {
      this.$emit("componentResult", data);
    },

    setDialogInfo() {
      bus.$emit(
        "infoBox",
        "Permet d'indiquer à la communauté de communes un niveau de remplissage trop élevé"
      );
    },

    //Requête pour mettre à jour le niveau des conteneurs
    //On fait autant de requêtes que de niveau modifié
    async updateAllLevel() {
      let typeMessage = "";
      let responseError = false;

      for (var i in this.conteneurs) {
        if (this.conteneurs[i].fill) {
          responseError = await this.updateACont(this.conteneurs[i].id, 100);
        }
      }

      //console.log(responseError)

      if (responseError == "") {
        this.message =
          "Merci d'avoir contribué, l'information est envoyée au service exploitation";
        this.successful = false;
        this.dialog = false;
        typeMessage = "success::";
      } else {
        this.message = "Impossible de modifier le niveau : " + responseError;
        this.successful = false;
        this.dialog = false;
        typeMessage = "error::";
      }

      this.result(typeMessage + this.message);
    },

    //Permet de modifier le niveau de remplissage d'un conteneur
    async updateACont(cont, level) {
      var response = "";
      var bodyFormData = new FormData();

      bodyFormData.append("id_cont", parseInt(cont));
      bodyFormData.append("level", parseInt(level));

      let rep = await updateLevelConteneur(bodyFormData);
      response = await rep.errorResponse;

      return response;
    },

    clickHandler() {
      this.dialog = true;
      this.btnclick = "levelPAV";
    },
  },

  beforeMount() {},

  async mounted() {
    //Ecouteur sur le parent pour récupérer le PAV courant et obtenir tous ses conteneurs
    bus.$on("levelPavInit", (data) => {
   
      let aPav = new Pav();
      aPav.copy(data);

      let nb_conteneur = aPav.nbCont;
      this.conteneurs = [];

      this.labelNearPav = aPav.address + " " + aPav.commune;

      for (let z = 0; z < nb_conteneur; z++) {
        let aConteneur = new Conteneur();
        aConteneur.copy(aPav.getConteneur(z));

        this.conteneurs.push({
          id: aConteneur.id,
          name: "Conteneur",
          color: aConteneur.color,
          content: aConteneur.content,
          fill: aConteneur.fillingLevel == 100 ? true : false,
        });
      }
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
@import "../assets/css/contribute.css";
</style>
