<template>
  <v-container>
    <!-- le menu pour modifier le PAV -->
    <v-row class="ma-auto" no-gutters>
      <v-col cols="11" class="ma-auto">
        <v-card class="ModifyPAV" color="#FFA000" @click.stop="clickHandler()">
          <v-row align="center">
            <v-col class="shrink">
              <v-btn
                class="mx-2"
                fab
                dark
                color="orange"
                @click.stop="clickHandler()"
              >
                <v-icon dark> mdi-circle-edit-outline </v-icon>
              </v-btn>
            </v-col>
            <v-col class="red--text text--lighten-5">
              {{ title }}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1" class="ma-auto">
        <v-btn fab small dark color="blue" v-on:click="setDialogInfo()">
          <v-icon dark> mdi-information-variant </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <!-- Affichage de la boite de dialogue pour lister les infos du PAV -->
    <v-dialog
      v-model="dialog"
      class="mx-auto"
      transition="dialog-bottom-transition"
    >
      <v-card class="custom-card-contribute">
        <v-toolbar dark color="green">
          <v-toolbar-title
            >Vous êtes sur le PAV de : <br />
            {{ labelNearPav }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click.native="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-row class="mx-auto" no-gutters>
          <v-col
            class="mx-auto"
            v-for="(item, i) in listeDechetComCom"
            :key="i"
          >
            <v-switch
              v-model="item.valueModele"
              :label="item.name"
              color="blue"
              inset
              hide-details
            ></v-switch>
          </v-col>
        </v-row>

        <!-- Affiche une image si la photo a été prise -->
        <v-row class="ma-auto" no-gutters>
          <v-col cols="4" class="ma-auto">
            <img
              class="pa-1"
              v-if="imageBytesModify != null"
              v-bind:src="imageBytesModify"
              height="100"
              width="100"
            />
            <v-chip
              v-if="imageBytesModify == null && cameraOk"
              class="ma-1"
              medium
              color="green"
              text-color="white"
              @click="
                dialog = false;
                triggerPhoto();
              "
            >
              <v-avatar left>
                <v-icon right> mdi-open-in-new </v-icon>
              </v-avatar>
              Photo
            </v-chip>
          </v-col>

          <v-col cols="8" class="ma-auto">
            <v-chip
              class="ma-2"
              medium
              color="green"
              text-color="white"
              @click="modifyPAV()"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              Envoyer les informations
            </v-chip>
          </v-col>
        </v-row>
        * les informations sont soumises à validation
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { bus } from "@/main";
import Pav from "../models/pav";
import Conteneur from "../models/conteneur";
import { createConteneur, uploadFileInPav } from "@/composables/postApi.js";
import { dataURLtoFile } from "@/composables/utils.js";
import { debug } from "../models/const";

/*eslint-disable no-unused-vars*/
import { TYPE_CONTENEUR } from "../models/const";

//Implementation de la requete POST

export default {
  name: "ModifyPav",
  props: {
    title: String,
    cameraOk: Boolean,
    listeDechetComCom: Array,
    listeMenuInactif: Array,
  },
  data() {
    return {
      dialog: false,
      btnclick: "",
      labelNearPav: "",
      idPav: -1,
      imageBytesModify: null,
      aConteneurModele: {
        type: "",
        content: "",
        color: "",
        state: "1",
        fillingLevel: 0,
        valide: "False",
        dateLeveePassageCont: "",
        heureLeveePassageCont: "",
        dateCreate: "",
        type_emplacement: "",
        apparence: "",
        appartenance_ext: 0,
        accesPMR: "False",
      },
      aPav: {
        position: "",
        address: "",
        name: "",
        insee: 0,
        valide: "False",
        state: "False",
        dateLeveePav: "",
        heureLeveePav: "",
        dateLeveePassageCont: "",
        heureLeveePassageCont: "",
        photo: "",
        dateCreate: "",
        conteneurs: {},
        communeID: "",
        appartenance_ext: 0,
      },
    };
  },
  methods: {
    initVar() {
      for (var i in this.listeDechetComCom) {    

        if (this.listeDechetComCom[i]["appartenance_ext"] == 0) {
          for (var e in this.listeMenuInactif) {
            if (this.listeMenuInactif[e]["menu"] == "ModifyPav") {
              this.listeDechetComCom[i]["visible"] = false;
            }
          }
        }
      }

    },

    setDialogInfo() {
      bus.$emit(
        "infoBox",
        "Permet d'indiquer à la communauté de communes une modificaiton de pav"
      );
    },

    //Si on veut prendre une photo, il faut donc indiquer au parent (en indiquant le composant demandant la modif)
    triggerPhoto() {
      this.$emit("triggerPhoto", "modifyPAV");
    },

    //Pour indiquer au parent, le retour des requêtes
    result(data) {
      this.$emit("componentResult", data);
    },

    clickHandler() {
      this.dialog = true;
      this.btnclick = "modifyPAV";
    },

    //Pour modifier le PAV courant
    async modifyPAV() {
      let typeMessage = "";

      let isModify = await this.modifyConteneurs(this.idPav);

      let rep;

      //Si on a une photo alors on va l'ajouter
      if (this.imageBytesModify != null) {
        //rattachement de la photo
        var file = await dataURLtoFile(this.imageBytesModify, "test.jpg");
        let bodyFormData = new FormData();
        bodyFormData.append("id_pav", this.idPav);
        bodyFormData.append("file", file);

        rep = await uploadFileInPav(bodyFormData);

      }

      if (isModify || (this.imageBytesModify != null && rep.errored == false)) {
        if (this.imageBytesModify != null)
          this.message = "La photo du point d'apport volontaire modifié";
        else this.message = "Le point d'apport volontaire a été modifié";
        this.successful = false;
        this.dialog = false;
        typeMessage = "success::";
      } else {
        this.message = "Impossible de modifier le point d'apport volontaire ";
        this.successful = false;
        this.dialog = false;
        typeMessage = "error::";
      }

      this.imageBytesModify = null;

      this.result(typeMessage + this.message);
    },

    //Requête pour la création d'un conteneur
    async setCreateConteneurs(
      type_conteneur,
      couleur,
      contenu,
      type_emplacement,
      idPav
    ) {
      var bodyFormData = new FormData();
      var aConteneur = JSON.parse(JSON.stringify(this.aConteneurModele));
      aConteneur.content = contenu;
      aConteneur.color = couleur;
      aConteneur.state = "1";
      aConteneur.fillingLevel = 0;
      aConteneur.dateLeveePassageCont = "";
      aConteneur.heureLeveePassageCont = "";
      aConteneur.dateCreate = "";
      aConteneur.type_emplacement = type_emplacement;
      aConteneur.apparence = couleur;
      aConteneur.appartenance_ext = 0;
      aConteneur.accesPMR = "False";
      aConteneur.id_pav = idPav;
      aConteneur.type = type_conteneur;

      bodyFormData.append("json", JSON.stringify(aConteneur));

      if (debug) {
        console.log(JSON.stringify(aConteneur));
        bus.$emit("debugBox", aConteneur);
      }

      let rep = await createConteneur(bodyFormData);


      return rep.idCont;
    },

    //On peut modifier un PAV uniquement en ajoutant un conteneur
    // Attention gérer mieux les erreurs
    async modifyConteneurs(idPav) {
      for (var i in this.listeDechetComCom) {
        //si un type de conteneur a été choisie alors on l'ajoute
        if (
          this.listeDechetComCom[i]["valueModele"] &&
          this.listeDechetComCom[i]["canModify"]
        ) {
          let idCont = await this.setCreateConteneurs(
            this.listeDechetComCom[i]["type"],
            this.listeDechetComCom[i]["apparence"],
            this.listeDechetComCom[i]["contenu"],
            this.listeDechetComCom[i]["type_emplacement"],
            this.listeDechetComCom[i]["appartenance_ext"],
            idPav
          );

          if (idCont == null || idCont < 1) {
            return false;
          }
        }
      }

      return true;
    },
  },

  beforeMount() {},

  mounted() {
    //Un écouteur vis à vis du parent, pour récupérer la photo en base64
    bus.$on("modifyPAV", (data) => {
      //console.log(data)
      this.imageBytesModify = data;
      this.dialog = true;
      this.btnclick = "modifyPAV";
    }),
      //Un écouteur vis à vis du parent, pour récupérer le contenu du PAV
      bus.$on("modifyPAVInit", (data) => {
        //console.log(data);

        this.initVar();

        let aPav = new Pav();
        aPav.copy(data);

        let nb_conteneur = aPav.nbCont;
        this.idPav = aPav.id;

        this.labelNearPav = aPav.address + " " + aPav.commune;

        //console.log(this.listeDechetComCom);

        for (var i in this.listeDechetComCom) {
          for (let z = 0; z < nb_conteneur; z++) {
            let aConteneur = new Conteneur();
            aConteneur.copy(aPav.getConteneur(z));

            //console.log(aConteneur);

            //si le conteneur X a à le même type que l'un des déchets, c'est qu'il a été enregistré
            if (
              aConteneur.content.toLowerCase() ==
              this.listeDechetComCom[i].contenu.toLowerCase()
            ) {
              this.listeDechetComCom[i]["valueModele"] = true;
              this.listeDechetComCom[i]["canModify"] = false;
              //console.log(this.listeDechetComCom[i]);
            }
          }

          //si le déchet type n'est pas assoscié à un conteneur, c'est qu'il n'est pas présent sur le PAV et qu'il pourrait donc l'être.
          if (this.listeDechetComCom[i]["valueModele"] == false) {
            this.listeDechetComCom[i]["canModify"] = true;
          }
        }
      });

    //console.log(this.listeDechetComCom);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
@import "../assets/css/contribute.css";
</style>
