{% extends 'email_base.html' %}

{% block title %}Confirmez votre adresse e-mail{% endblock title %}

{% block main_title %}Confirmez votre adresse e-mail pour {{ current_site.name }}!{% endblock main_title %}

{% block preview %}Confirmez votre adresse e-mail pour {{ current_site.name }}{% endblock preview %}

{% block main %}{% load account %}{% user_display user as user_display %}{% load i18n %}
    {% autoescape off %}
        <p style="margin: 0 0 10px;">Bonjour,</p>
        <p style="margin: 0 0 10px;">Vous recevez cet e-mail car l'utilisateur {{ user_display }} a indiqué votre adresse pour se connecter à son compte.</p>
        <p style="margin: 0 0 10px;">Cliquer sur ce bouton pour confirmer que l'email est correcte.</p>
            <!-- Button : BEGIN -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                <tr>
                    <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                        <a class="button-a button-a-primary" href="{{ activate_url }}" style="background: #222222; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Confirmer l'email</a>
                    </td>
                </tr>
            </table>
            <!-- Button : END -->
        <br>
        <p style="margin: 0 0 10px;">Ou via ce lien:</p>
        <p style="margin: 0 0 10px;">{{ activate_url }}</p>
    {% endautoescape %}
{% endblock main %}
