<template>
  <v-app>
    <v-app-bar
      v-if="!getComponent()"
      color="deep-purple"
      dark
      app
      height="17%"
      fixed
    >
      <v-toolbar-title>
        <span>Ou Je Trie</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-main id="content" ref="content" :style="{ background: '#E6E6FA' }">
      <!-- Pop up pour indiquer le changement d'état du reseau -->
      <v-alert
        v-model="showChangeNetworkState"
        outlined
        :type="errorType"
        text
        dismissible
        v-if="message != ''"
      >
        {{ message }}</v-alert
      >

      <!-- Pour l'installation de l'app. Plus utile c'est fait dans la navigation-->
      <v-alert v-model="showBannerInstallApp" color="#30ac7c" dismissible>
        <v-btn id="add-button" class="ma-2" color="#30ac7c" dark>
          Installer l'app OuJeTrie
          <v-icon dark>
            mdi-download
          </v-icon>
        </v-btn>
      </v-alert>

      <!-- Pour indiquer à l'user qu'une maj a été faite-->
      <v-alert v-model="newVersion" color="#30ac7c" dismissible>
        L'application a été mise à jour depuis votre dernière visite
      </v-alert>

      <!-- Pour afficher le contenu de la page-->
      <router-view></router-view>
    </v-main>
    <v-footer app id="footer" ref="footer" v-show="hideNavBar">
      <v-container fluid>
        <Navigation
          :style="{ transform: 'none', background: 'rgb(228, 228, 228)' }"
        ></Navigation>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import { isMobile } from "mobile-device-detect";
import Navigation from "@/views/Navigation";
import { getEntreprise } from "@/composables/getApi.js";

export default {
  name: "app",
  components: {
    Navigation: Navigation,
  },

  data() {
    return {
      showBannerInstallApp: false,
      onLine: navigator.onLine,
      showBackOnline: false,
      showChangeNetworkState: false,
      message: "",
      errorType: "success",
      newVersion: false,
      hideNavBar: true,
    };
  },

  methods: {
    getComponent() {
      return isMobile ? true : false;
    },

    //Pour fermer la banner d'installation de l'application
    close() {
      const addBtn = document.querySelector("#add-button");
      addBtn.style.display = "none";
      this.showBannerInstallApp = false;
    },

    //Pour afficher/hide la popup d'état du reseau
    updateOnlineStatus(e) {
      //recupère l'état du changement du reseau
      const { type } = e;

      this.showChangeNetworkState = true;

      //change les info de la v-alert
      if (type == "online") {
        this.message = "La connexion a été retrouvée";
        this.onLine = true;
        this.errorType = "success";
      } else {
        this.message = "Plus de connexion disponible";
        this.onLine = false;
        this.errorType = "error";
      }
    },
  },
  watch: {
    onLine(v) {
      if (v) {
        this.showBackOnline = true;
        setTimeout(() => {
          this.showBackOnline = false;
        }, 1000);
      }
    },
  },

  async mounted() {
    //Pour recevoir une information provenant du service worker
    //afin de récupérer la version
    const CHANNEL_NOTIF = "channel_notif_worker";
    const channel = new BroadcastChannel(CHANNEL_NOTIF);
    var self = this;
    channel.onmessage = function(e) {
      console.log("Received", e);
      if (e != null && e.data != null && "version" in e.data)
        localStorage.setItem("version", e.data["version"]);

      if (e != null && e.data != null && "new_version" in e.data) {
        console.log("l'application a été mise à jour");
        self.newVersion = true;
      }

      //channel.close();
    };

    //Pour récupérer l'ensemble des entreprises
    let entreprise = await getEntreprise();
    this.$store.commit("setEntreprise", entreprise.data); 

    //Pour permettre l'installation de l'application
    let deferredPrompt;

    window.addEventListener("beforeinstallprompt", (e) => {
    
      const addBtn = document.querySelector("#add-button");
      addBtn.style.display = "visible";

      e.preventDefault();     
      deferredPrompt = e;
      addBtn.style.display = "block";

      addBtn.addEventListener("click", () => {
        console.log("Click on install banner");      
        addBtn.style.display = "none";      
        deferredPrompt.prompt();
        deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === "accepted") {
            console.log("User accepted the A2HS prompt");
          } else {
            console.log("User dismissed the A2HS prompt");
          }
          deferredPrompt = null;
        });
      });
    });

    //ecouteur sur l'état du changement de la connexion internet
    window.addEventListener("online", this.updateOnlineStatus);
    window.addEventListener("offline", this.updateOnlineStatus);

    //Pour fermer le channel de communication avec le service worker au bout d'un certain temps
    setTimeout(() => {
      if (channel != null) channel.close();
    }, 1000 * 60);

    //Pour cacher la barre du menu lors d'un scroll vers le bas
    this.listener = () => {
   
      if (window.pageYOffset > 0) {
        // user is scrolled
        if (this.hideNavBar) this.hideNavBar = false;
      } else {
        // user is at top of page
        if (!this.hideNavBar) this.hideNavBar = true;
      }
    };
    window.addEventListener("scroll", this.listener);
   
  },
};
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  text-align: center;
  flex: 1;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}

#footer {
  flex-shrink: 0;
  z-index: 10;
}
</style>
