{% extends 'email_base.html' %}

{% block title %}Mot de passe{% endblock title %}

{% block main_title %}Réinitialisation du mot de passe sur {{ site_name }}!{% endblock main_title %}

{% block preview %}Réinitialisation du mot de passe sur {{ site_name }}{% endblock preview %}

{% block main %}{% load account %}{% user_display user as user_display %}{% load i18n %}
    {% autoescape off %}
        <p style="margin: 0 0 10px;">Bonjour {{ user.get_username }},</p>
        <p style="margin: 0 0 10px;">Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte sur {{ site_name }}.</p>
        <p style="margin: 0 0 10px;">Cliquer sur ce bouton pour effectuer la modification du mot de passe.</p>
            <!-- Button : BEGIN -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                <tr>
                    <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                        <a class="button-a button-a-primary" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background: #222222; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Changer le mot de passe</a>
                    </td>
                </tr>
            </table>
            <!-- Button : END -->
        <br>
        <p style="margin: 0 0 10px;">Ou via ce lien:</p>
        <p style="margin: 0 0 10px;">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    {% endautoescape %}
{% endblock main %}
