{% load account %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redirection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  if not error %}
    <meta http-equiv="refresh" content="2;URL=https://OuJeTrie.fr">
    {% endif %}

<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{% static 'OuJeTrie_API/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-zone100">
            <div class="wrap-zone100">
                {%  if error %}
                {{ error }}
                {% else %}
                Redirection en cours
                {% endif %}
            </div>
        </div>
    </div>

<!--===============================================================================================-->  
    <script src="{% static 'OuJeTrie_API/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/js/main.js' %}"></script>

</body>
</html>