{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Changement de mot de passe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'OuJeTrie_API/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-zone100">
            <div class="wrap-zone100">
                <div class="zone100-pic js-tilt" data-tilt>
                    <img src="{% static 'OuJeTrie_API/images/img-01.png' %}" alt="IMG">
                </div>

                <form class="zone100-form validate-form" id="idForm" action="{% url 'rest_password_reset_confirm'%}">
                        <span class="zone100-form-title">
                            Changement de mot de passe
                        </span>
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input" data-validate = "Mot de passe requis">
                        <input class="input100" type="password" id="new_password1"  name="new_password1" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Mot de passe requis">
                        <input class="input100" type="password" id="new_password2" name="new_password2" placeholder="Confime Pass">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="hidden" name="uid" value="{{ uidb64 }}"/>
                    <input type="hidden" name="token" value="{{ token }}"/>

                    <div class="container-zone100-form-btn">
                        <button type="submit" class="zone100-form-btn">
                            Appliquer
                        </button>
                    </div>
                    <div class="text-center p-t-12">
						<span class="txt1" style="color:red"  id="resultError">
						</span>

						<span class="txt1" style="color:green"  id="resultSucces">
						</span>
					</div>
                </form>
            </div>
        </div>
    </div>

<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/js/main_password.js' %}"></script>

<script>

</script>
</body>
</html>