{% load account %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirmation email</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{% static 'OuJeTrie_API/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'OuJeTrie_API/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-zone100">
            <div class="wrap-zone100">
                <div class="zone100-pic js-tilt" data-tilt>
                    <img src="{% static 'OuJeTrie_API/images/img-01.png' %}" alt="IMG">
                </div>
                <form class="zone100-form validate-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    <span class="zone100-form-title">
                        Confirmer l'adresse e-mail
                    </span>
                    {% if confirmation.email_address.verified %}
                        Votre adresse e-mail <b>{{ confirmation.email_address.email }}</b> a déjà été confirmée.
                    {% elif confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <div class="text-center p-t-12">
                        {%  with confirmation.email_address.email as email %}Merci de confirmer que <a href="mailto:{{ email }}">{{ email }}</a> est l'adresse e-mail de {{ user_display }}.{% endwith %}
                    </div>

                    <div class="container-zone100-form-btn">
                        {% csrf_token %}
                        <button class="zone100-form-btn" type="submit">
                            Confirmer
                        </button>
                    </div>

                    {% else %}
                    {% url 'account_email' as email_url %}
                    <div class="text-center p-t-12">
                        Ce lien de confirmation d'adresse e-mail a expiré ou n'est pas valide. Veuillez demander une nouvelle demande de confirmation</a>.
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

<!--===============================================================================================-->  
    <script src="{% static 'OuJeTrie_API/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'OuJeTrie_API/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
<!--===============================================================================================-->
    <script src="{% static 'OuJeTrie_API/js/main.js' %}"></script>

</body>
</html>