{% load static %}

<!DOCTYPE html>

<html lang="fr-fr" >
<head>
<title>Connexion | Site d’administration de Django</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
    <script src="{% static "admin/js/nav_sidebar.js" %}" defer></script>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">

    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'admin:index' %}">Administration de Django</a></h1>
            </div>

        </div>

        <!-- END Header -->
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                    <div id="content" class="colM">
                        <div id="content-main">
                            <form action="{% url 'account_login' %}" method="post" id="login-form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <label class="required" for="id_username">Nom d’utilisateur :</label> <input type="text" name="login" autofocus autocapitalize="none" autocomplete="Nom d’utilisateur" maxlength="150" required id="id_username">
                                </div>
                                <div class="form-row">
                                    <label class="required" for="id_password">Mot de passe :</label> <input type="password" name="password" autocomplete="Mot de passe" required id="id_password">
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                                </div>

                                <div class="submit-row">
                                    <input type="submit" value="Connexion">
                                </div>
                            </form>

                        </div>
                        <br class="clear">
                    </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
        <!-- END Container -->
</body>
</html>
